<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xodud1202.springbackend.mapper.CompanyWorkMapper">

	<sql id="adminCompanyWorkWhere">
		/* CompanyWorkMapper.adminCompanyWorkWhere: 관리자 회사 업무 공통 조회 조건 */
		WHERE J.DEL_YN = 'N'
		  AND J.WORK_COMPANY_SEQ = #{workCompanySeq}
		  AND J.WORK_COMPANY_PROJECT_SEQ = #{workCompanyProjectSeq}
		<if test="title != null and title != ''">
		   AND J.TITLE LIKE CONCAT('%', #{title}, '%')
		</if>
	</sql>

	<select id="getAdminCompanyWorkCompanyList" resultType="com.xodud1202.springbackend.domain.admin.companywork.AdminCompanyWorkCompanyVO">
		/* CompanyWorkMapper.getAdminCompanyWorkCompanyList: 관리자 회사 업무 회사 목록 조회 */
		SELECT WORK_COMPANY_SEQ
		     , WORK_COMPANY_NM
		     , WORK_PLATFORM_NM
		     , DISP_ORD
		  FROM WORK_COMPANY_INFO
		 ORDER BY DISP_ORD ASC, WORK_COMPANY_SEQ ASC
	</select>

	<select id="getAdminCompanyWorkProjectList" resultType="com.xodud1202.springbackend.domain.admin.companywork.AdminCompanyWorkProjectVO">
		/* CompanyWorkMapper.getAdminCompanyWorkProjectList: 관리자 회사 업무 프로젝트 목록 조회 */
		SELECT WORK_COMPANY_PROJECT_SEQ
		     , WORK_COMPANY_SEQ
		     , WORK_COMPANY_PROJECT_NM
		     , DISP_ORD
		  FROM WORK_COMPANY_PROJECT_INFO
		 WHERE WORK_COMPANY_SEQ = #{workCompanySeq}
		 ORDER BY DISP_ORD ASC, WORK_COMPANY_PROJECT_SEQ ASC
	</select>

	<select id="getAdminCompanyWorkImportCompanyInfo" resultType="com.xodud1202.springbackend.domain.admin.companywork.AdminCompanyWorkImportCompanyInfoVO">
		/* CompanyWorkMapper.getAdminCompanyWorkImportCompanyInfo: 관리자 회사 업무 가져오기 대상 회사 정보 조회 */
		SELECT WORK_COMPANY_SEQ
		     , WORK_COMPANY_NM
		     , WORK_PLATFORM_NM
		     , API_URL
		  FROM WORK_COMPANY_INFO
		 WHERE WORK_COMPANY_SEQ = #{workCompanySeq}
	</select>

	<select id="countAdminCompanyWorkProjectMatch" resultType="int">
		/* CompanyWorkMapper.countAdminCompanyWorkProjectMatch: 관리자 회사/프로젝트 매칭 건수 조회 */
		SELECT COUNT(1)
		  FROM WORK_COMPANY_PROJECT_INFO
		 WHERE WORK_COMPANY_SEQ = #{workCompanySeq}
		   AND WORK_COMPANY_PROJECT_SEQ = #{workCompanyProjectSeq}
	</select>

	<select id="countAdminCompanyWorkDuplicateKey" resultType="int">
		/* CompanyWorkMapper.countAdminCompanyWorkDuplicateKey: 관리자 회사 업무키 중복 건수 조회 */
		SELECT COUNT(1)
		  FROM WORK_COMPANY_PROJECT_JOB
		 WHERE WORK_COMPANY_SEQ = #{workCompanySeq}
		   AND WORK_COMPANY_PROJECT_SEQ = #{workCompanyProjectSeq}
		   AND WORK_KEY = #{workKey}
	</select>

	<select id="getAdminCompanyWorkRow" resultType="com.xodud1202.springbackend.domain.admin.companywork.AdminCompanyWorkListRowVO">
		/* CompanyWorkMapper.getAdminCompanyWorkRow: 관리자 회사 업무 단건 행 정보 조회 */
		SELECT J.WORK_SEQ
		     , J.WORK_COMPANY_SEQ
		     , J.WORK_COMPANY_PROJECT_SEQ
		     , J.WORK_STAT_CD
		     , J.WORK_KEY
		     , J.TITLE
		     , DATE_FORMAT(J.WORK_CREATE_DT, '%Y-%m-%d %H:%i:%s') AS WORK_CREATE_DT
		     , DATE_FORMAT(J.WORK_START_DT, '%Y-%m-%d') AS WORK_START_DT
		     , DATE_FORMAT(J.WORK_END_DT, '%Y-%m-%d') AS WORK_END_DT
		     , J.WORK_TIME
		     , J.WORK_PRIOR_CD
		     , FN_GET_CODE_NM('WORK_PRIOR', J.WORK_PRIOR_CD) AS WORK_PRIOR_NM
		     , J.IT_MANAGER
		     , J.CO_MANAGER
		     , DATE_FORMAT(J.REG_DT, '%Y-%m-%d %H:%i:%s') AS REG_DT
		     , DATE_FORMAT(J.UDT_DT, '%Y-%m-%d %H:%i:%s') AS UDT_DT
		  FROM WORK_COMPANY_PROJECT_JOB J
		 WHERE J.WORK_SEQ = #{workSeq}
		   AND J.DEL_YN = 'N'
	</select>

	<select id="getAdminCompanyWorkDetail" resultType="com.xodud1202.springbackend.domain.admin.companywork.AdminCompanyWorkDetailVO">
		/* CompanyWorkMapper.getAdminCompanyWorkDetail: 관리자 회사 업무 상세 정보 조회 */
		SELECT J.WORK_SEQ
		     , J.WORK_COMPANY_SEQ
		     , J.WORK_COMPANY_PROJECT_SEQ
		     , C.WORK_COMPANY_NM
		     , P.WORK_COMPANY_PROJECT_NM
		     , J.WORK_STAT_CD
		     , J.WORK_KEY
		     , J.TITLE
		     , J.CONTENT
		     , DATE_FORMAT(J.WORK_CREATE_DT, '%Y-%m-%d %H:%i:%s') AS WORK_CREATE_DT
		     , DATE_FORMAT(J.WORK_START_DT, '%Y-%m-%d') AS WORK_START_DT
		     , DATE_FORMAT(J.WORK_END_DT, '%Y-%m-%d') AS WORK_END_DT
		     , J.WORK_TIME
		     , J.WORK_PRIOR_CD
		     , FN_GET_CODE_NM('WORK_PRIOR', J.WORK_PRIOR_CD) AS WORK_PRIOR_NM
		     , J.IT_MANAGER
		     , J.CO_MANAGER
		     , DATE_FORMAT(J.REG_DT, '%Y-%m-%d %H:%i:%s') AS REG_DT
		     , DATE_FORMAT(J.UDT_DT, '%Y-%m-%d %H:%i:%s') AS UDT_DT
		  FROM WORK_COMPANY_PROJECT_JOB J
		  JOIN WORK_COMPANY_INFO C
		    ON C.WORK_COMPANY_SEQ = J.WORK_COMPANY_SEQ
		  JOIN WORK_COMPANY_PROJECT_INFO P
		    ON P.WORK_COMPANY_PROJECT_SEQ = J.WORK_COMPANY_PROJECT_SEQ
		   AND P.WORK_COMPANY_SEQ = J.WORK_COMPANY_SEQ
		 WHERE J.WORK_SEQ = #{workSeq}
		   AND J.DEL_YN = 'N'
	</select>

	<select id="getAdminCompanyWorkFileList" resultType="com.xodud1202.springbackend.domain.admin.companywork.AdminCompanyWorkFileVO">
		/* CompanyWorkMapper.getAdminCompanyWorkFileList: 관리자 회사 업무 첨부파일 목록 조회 */
		SELECT WORK_JOB_FILE_SEQ
		     , WORK_SEQ
		     , WORK_JOB_FILE_NM
		     , WORK_JOB_FILE_URL
		     , DATE_FORMAT(REG_DT, '%Y-%m-%d %H:%i:%s') AS REG_DT
		     , DATE_FORMAT(UDT_DT, '%Y-%m-%d %H:%i:%s') AS UDT_DT
		  FROM WORK_COMPANY_PROJECT_JOB_FILE
		 WHERE WORK_SEQ = #{workSeq}
		   AND DEL_YN = 'N'
		 ORDER BY WORK_JOB_FILE_SEQ ASC
	</select>

	<select id="getAdminCompanyWorkReplyList" resultType="com.xodud1202.springbackend.domain.admin.companywork.AdminCompanyWorkReplyVO">
		/* CompanyWorkMapper.getAdminCompanyWorkReplyList: 관리자 회사 업무 댓글 목록 조회 */
		SELECT REPLY_SEQ
		     , WORK_SEQ
		     , REPLY_COMMENT
		     , REG_NO
		     , DATE_FORMAT(REG_DT, '%Y-%m-%d %H:%i:%s') AS REG_DT
		     , DATE_FORMAT(UDT_DT, '%Y-%m-%d %H:%i:%s') AS UDT_DT
		  FROM WORK_COMPANY_PROJECT_JOB_REPLY
		 WHERE WORK_SEQ = #{workSeq}
		   AND DEL_YN = 'N'
		 ORDER BY REG_DT DESC, REPLY_SEQ DESC
	</select>

	<select id="getAdminCompanyWorkReplyFileList" resultType="com.xodud1202.springbackend.domain.admin.companywork.AdminCompanyWorkReplyFileVO">
		/* CompanyWorkMapper.getAdminCompanyWorkReplyFileList: 관리자 회사 업무 댓글 첨부파일 목록 조회 */
		SELECT REPLY_FILE_SEQ
		     , REPLY_SEQ
		     , WORK_SEQ
		     , REPLY_FILE_NM
		     , REPLY_FILE_URL
		     , REPLY_FILE_SIZE
		     , DATE_FORMAT(REG_DT, '%Y-%m-%d %H:%i:%s') AS REG_DT
		     , DATE_FORMAT(UDT_DT, '%Y-%m-%d %H:%i:%s') AS UDT_DT
		  FROM WORK_COMPANY_PROJECT_JOB_REPLY_FILE
		 WHERE WORK_SEQ = #{workSeq}
		   AND DEL_YN = 'N'
		 ORDER BY REPLY_SEQ DESC, REPLY_FILE_SEQ ASC
	</select>

	<select id="getAdminCompanyWorkReply" resultType="com.xodud1202.springbackend.domain.admin.companywork.AdminCompanyWorkReplyVO">
		/* CompanyWorkMapper.getAdminCompanyWorkReply: 관리자 회사 업무 댓글 단건 조회 */
		SELECT REPLY_SEQ
		     , WORK_SEQ
		     , REPLY_COMMENT
		     , REG_NO
		     , DATE_FORMAT(REG_DT, '%Y-%m-%d %H:%i:%s') AS REG_DT
		     , DATE_FORMAT(UDT_DT, '%Y-%m-%d %H:%i:%s') AS UDT_DT
		  FROM WORK_COMPANY_PROJECT_JOB_REPLY
		 WHERE REPLY_SEQ = #{replySeq}
		   AND DEL_YN = 'N'
	</select>

	<select id="getAdminCompanyWorkReplyFileListByReplySeq" resultType="com.xodud1202.springbackend.domain.admin.companywork.AdminCompanyWorkReplyFileVO">
		/* CompanyWorkMapper.getAdminCompanyWorkReplyFileListByReplySeq: 관리자 회사 업무 댓글 첨부파일 목록 조회 */
		SELECT REPLY_FILE_SEQ
		     , REPLY_SEQ
		     , WORK_SEQ
		     , REPLY_FILE_NM
		     , REPLY_FILE_URL
		     , REPLY_FILE_SIZE
		     , DATE_FORMAT(REG_DT, '%Y-%m-%d %H:%i:%s') AS REG_DT
		     , DATE_FORMAT(UDT_DT, '%Y-%m-%d %H:%i:%s') AS UDT_DT
		  FROM WORK_COMPANY_PROJECT_JOB_REPLY_FILE
		 WHERE REPLY_SEQ = #{replySeq}
		   AND DEL_YN = 'N'
		 ORDER BY REPLY_FILE_SEQ ASC
	</select>

	<select id="getAdminCompanyWorkReplyFile" resultType="com.xodud1202.springbackend.domain.admin.companywork.AdminCompanyWorkReplyFileVO">
		/* CompanyWorkMapper.getAdminCompanyWorkReplyFile: 관리자 회사 업무 댓글 첨부파일 단건 조회 */
		SELECT REPLY_FILE_SEQ
		     , REPLY_SEQ
		     , WORK_SEQ
		     , REPLY_FILE_NM
		     , REPLY_FILE_URL
		     , REPLY_FILE_SIZE
		     , DATE_FORMAT(REG_DT, '%Y-%m-%d %H:%i:%s') AS REG_DT
		     , DATE_FORMAT(UDT_DT, '%Y-%m-%d %H:%i:%s') AS UDT_DT
		  FROM WORK_COMPANY_PROJECT_JOB_REPLY_FILE
		 WHERE REPLY_FILE_SEQ = #{replyFileSeq}
		   AND DEL_YN = 'N'
	</select>

	<select id="getAdminCompanyWorkStatusList" resultType="com.xodud1202.springbackend.domain.admin.companywork.AdminCompanyWorkListRowVO">
		/* CompanyWorkMapper.getAdminCompanyWorkStatusList: 관리자 회사 업무 비완료 상태 목록 조회 */
		SELECT J.WORK_SEQ
		     , J.WORK_COMPANY_SEQ
		     , J.WORK_COMPANY_PROJECT_SEQ
		     , J.WORK_STAT_CD
		     , J.WORK_KEY
		     , J.TITLE
		     , DATE_FORMAT(J.WORK_CREATE_DT, '%Y-%m-%d %H:%i:%s') AS WORK_CREATE_DT
		     , DATE_FORMAT(J.WORK_START_DT, '%Y-%m-%d') AS WORK_START_DT
		     , DATE_FORMAT(J.WORK_END_DT, '%Y-%m-%d') AS WORK_END_DT
		     , J.WORK_TIME
		     , J.WORK_PRIOR_CD
		     , FN_GET_CODE_NM('WORK_PRIOR', J.WORK_PRIOR_CD) AS WORK_PRIOR_NM
		     , J.IT_MANAGER
		     , J.CO_MANAGER
		     , DATE_FORMAT(J.REG_DT, '%Y-%m-%d %H:%i:%s') AS REG_DT
		     , DATE_FORMAT(J.UDT_DT, '%Y-%m-%d %H:%i:%s') AS UDT_DT
		  FROM WORK_COMPANY_PROJECT_JOB J
		  JOIN COMMON_CODE WORK_STAT_CODE
		    ON WORK_STAT_CODE.GRP_CD = 'WORK_STAT'
		   AND WORK_STAT_CODE.CD = J.WORK_STAT_CD
		   AND WORK_STAT_CODE.USE_YN = 'Y'
		<include refid="adminCompanyWorkWhere" />
		   AND J.WORK_STAT_CD != 'WORK_STAT_05'
		 ORDER BY WORK_STAT_CODE.DISP_ORD ASC, J.WORK_CREATE_DT DESC, J.WORK_SEQ DESC
	</select>

	<select id="getAdminCompanyWorkCompletedList" resultType="com.xodud1202.springbackend.domain.admin.companywork.AdminCompanyWorkListRowVO">
		/* CompanyWorkMapper.getAdminCompanyWorkCompletedList: 관리자 회사 업무 완료 목록 조회 */
		SELECT J.WORK_SEQ
		     , J.WORK_COMPANY_SEQ
		     , J.WORK_COMPANY_PROJECT_SEQ
		     , J.WORK_STAT_CD
		     , J.WORK_KEY
		     , J.TITLE
		     , DATE_FORMAT(J.WORK_CREATE_DT, '%Y-%m-%d %H:%i:%s') AS WORK_CREATE_DT
		     , DATE_FORMAT(J.WORK_START_DT, '%Y-%m-%d') AS WORK_START_DT
		     , DATE_FORMAT(J.WORK_END_DT, '%Y-%m-%d') AS WORK_END_DT
		     , J.WORK_TIME
		     , J.WORK_PRIOR_CD
		     , FN_GET_CODE_NM('WORK_PRIOR', J.WORK_PRIOR_CD) AS WORK_PRIOR_NM
		     , J.IT_MANAGER
		     , J.CO_MANAGER
		     , DATE_FORMAT(J.REG_DT, '%Y-%m-%d %H:%i:%s') AS REG_DT
		     , DATE_FORMAT(J.UDT_DT, '%Y-%m-%d %H:%i:%s') AS UDT_DT
		  FROM WORK_COMPANY_PROJECT_JOB J
		<include refid="adminCompanyWorkWhere" />
		   AND J.WORK_STAT_CD = 'WORK_STAT_05'
		 ORDER BY J.WORK_CREATE_DT DESC, J.WORK_SEQ DESC
		 LIMIT #{pageSize} OFFSET #{offset}
	</select>

	<select id="getAdminCompanyWorkCompletedCount" resultType="int">
		/* CompanyWorkMapper.getAdminCompanyWorkCompletedCount: 관리자 회사 업무 완료 목록 건수 조회 */
		SELECT COUNT(1)
		  FROM WORK_COMPANY_PROJECT_JOB J
		<include refid="adminCompanyWorkWhere" />
		   AND J.WORK_STAT_CD = 'WORK_STAT_05'
	</select>

	<insert id="insertAdminCompanyWorkImportJob" useGeneratedKeys="true" keyProperty="workSeq" keyColumn="WORK_SEQ">
		/* CompanyWorkMapper.insertAdminCompanyWorkImportJob: 관리자 회사 업무 기본정보 저장 */
		INSERT INTO WORK_COMPANY_PROJECT_JOB (
		       WORK_COMPANY_SEQ
		     , WORK_COMPANY_PROJECT_SEQ
		     , WORK_STAT_CD
		     , WORK_PRIOR_CD
		     , WORK_KEY
		     , TITLE
		     , CONTENT
		     , WORK_CREATE_DT
		     , CO_MANAGER
		     , DEL_YN
		     , REG_NO
		     , UDT_NO
		) VALUES (
		       #{workCompanySeq}
		     , #{workCompanyProjectSeq}
		     , #{workStatCd}
		     , #{workPriorCd}
		     , #{workKey}
		     , #{title}
		     , #{content}
		     , #{workCreateDt}
		     , #{coManager}
		     , 'N'
		     , #{regNo}
		     , #{udtNo}
		)
	</insert>

	<insert id="insertAdminCompanyWorkImportFile">
		/* CompanyWorkMapper.insertAdminCompanyWorkImportFile: 관리자 회사 업무 첨부파일 저장 */
		INSERT INTO WORK_COMPANY_PROJECT_JOB_FILE (
		       WORK_SEQ
		     , WORK_JOB_FILE_NM
		     , WORK_JOB_FILE_URL
		     , DEL_YN
		     , REG_NO
		     , UDT_NO
		) VALUES (
		       #{workSeq}
		     , #{workJobFileNm}
		     , #{workJobFileUrl}
		     , 'N'
		     , #{regNo}
		     , #{udtNo}
		)
	</insert>

	<update id="updateAdminCompanyWorkEditableFields">
		/* CompanyWorkMapper.updateAdminCompanyWorkEditableFields: 관리자 회사 업무 즉시 수정 가능 항목 저장 */
		UPDATE WORK_COMPANY_PROJECT_JOB
		   SET WORK_CREATE_DT = WORK_CREATE_DT
		     , WORK_STAT_CD = #{workStatCd}
		     , WORK_START_DT =
		       <choose>
		         <when test="workStartDt != null and workStartDt != ''">
		           STR_TO_DATE(#{workStartDt}, '%Y-%m-%d')
		         </when>
		         <otherwise>
		           NULL
		         </otherwise>
		       </choose>
		     , WORK_END_DT =
		       <choose>
		         <when test="workEndDt != null and workEndDt != ''">
		           STR_TO_DATE(#{workEndDt}, '%Y-%m-%d')
		         </when>
		         <otherwise>
		           NULL
		         </otherwise>
		       </choose>
		     , WORK_TIME =
		       <choose>
		         <when test="workTime != null">
		           #{workTime}
		         </when>
		         <otherwise>
		           NULL
		         </otherwise>
		       </choose>
		     , IT_MANAGER = #{itManager}
		     , UDT_NO = #{udtNo}
		     , UDT_DT = NOW()
		 WHERE WORK_SEQ = #{workSeq}
		   AND DEL_YN = 'N'
	</update>

	<update id="updateAdminCompanyWorkDetailFields">
		/* CompanyWorkMapper.updateAdminCompanyWorkDetailFields: 관리자 회사 업무 상세 수정 항목 저장 */
		UPDATE WORK_COMPANY_PROJECT_JOB
		   SET WORK_CREATE_DT = WORK_CREATE_DT
		     , WORK_STAT_CD = #{workStatCd}
		     , WORK_START_DT =
		       <choose>
		         <when test="workStartDt != null and workStartDt != ''">
		           STR_TO_DATE(#{workStartDt}, '%Y-%m-%d')
		         </when>
		         <otherwise>
		           NULL
		         </otherwise>
		       </choose>
		     , WORK_END_DT =
		       <choose>
		         <when test="workEndDt != null and workEndDt != ''">
		           STR_TO_DATE(#{workEndDt}, '%Y-%m-%d')
		         </when>
		         <otherwise>
		           NULL
		         </otherwise>
		       </choose>
		     , WORK_TIME =
		       <choose>
		         <when test="workTime != null">
		           #{workTime}
		         </when>
		         <otherwise>
		           NULL
		         </otherwise>
		       </choose>
		     , UDT_NO = #{udtNo}
		     , UDT_DT = NOW()
		 WHERE WORK_SEQ = #{workSeq}
		   AND DEL_YN = 'N'
	</update>

	<insert id="insertAdminCompanyWorkReply" useGeneratedKeys="true" keyProperty="replySeq" keyColumn="REPLY_SEQ">
		/* CompanyWorkMapper.insertAdminCompanyWorkReply: 관리자 회사 업무 댓글 저장 */
		INSERT INTO WORK_COMPANY_PROJECT_JOB_REPLY (
		       WORK_SEQ
		     , REPLY_COMMENT
		     , DEL_YN
		     , REG_NO
		     , UDT_NO
		) VALUES (
		       #{workSeq}
		     , #{replyComment}
		     , 'N'
		     , #{regNo}
		     , #{udtNo}
		)
	</insert>

	<update id="updateAdminCompanyWorkReply">
		/* CompanyWorkMapper.updateAdminCompanyWorkReply: 관리자 회사 업무 댓글 수정 */
		UPDATE WORK_COMPANY_PROJECT_JOB_REPLY
		   SET REPLY_COMMENT = #{replyComment}
		     , UDT_NO = #{udtNo}
		     , UDT_DT = NOW()
		 WHERE REPLY_SEQ = #{replySeq}
		   AND WORK_SEQ = #{workSeq}
		   AND DEL_YN = 'N'
	</update>

	<update id="softDeleteAdminCompanyWorkReply">
		/* CompanyWorkMapper.softDeleteAdminCompanyWorkReply: 관리자 회사 업무 댓글 삭제 처리 */
		UPDATE WORK_COMPANY_PROJECT_JOB_REPLY
		   SET DEL_YN = 'Y'
		     , UDT_NO = #{udtNo}
		     , UDT_DT = NOW()
		 WHERE REPLY_SEQ = #{replySeq}
		   AND WORK_SEQ = #{workSeq}
		   AND DEL_YN = 'N'
	</update>

	<insert id="insertAdminCompanyWorkReplyFile" useGeneratedKeys="true" keyProperty="replyFileSeq" keyColumn="REPLY_FILE_SEQ">
		/* CompanyWorkMapper.insertAdminCompanyWorkReplyFile: 관리자 회사 업무 댓글 첨부파일 저장 */
		INSERT INTO WORK_COMPANY_PROJECT_JOB_REPLY_FILE (
		       REPLY_SEQ
		     , WORK_SEQ
		     , REPLY_FILE_NM
		     , REPLY_FILE_URL
		     , REPLY_FILE_SIZE
		     , DEL_YN
		     , REG_NO
		     , UDT_NO
		) VALUES (
		       #{replySeq}
		     , #{workSeq}
		     , #{replyFileNm}
		     , #{replyFileUrl}
		     , #{replyFileSize}
		     , 'N'
		     , #{regNo}
		     , #{udtNo}
		)
	</insert>

	<update id="softDeleteAdminCompanyWorkReplyFiles">
		/* CompanyWorkMapper.softDeleteAdminCompanyWorkReplyFiles: 관리자 회사 업무 댓글 첨부파일 선택 삭제 처리 */
		UPDATE WORK_COMPANY_PROJECT_JOB_REPLY_FILE
		   SET DEL_YN = 'Y'
		     , UDT_NO = #{udtNo}
		     , UDT_DT = NOW()
		 WHERE REPLY_SEQ = #{replySeq}
		   AND WORK_SEQ = #{workSeq}
		   AND DEL_YN = 'N'
		   AND REPLY_FILE_SEQ IN
		   <foreach collection="replyFileSeqList" item="replyFileSeq" open="(" separator="," close=")">
		     #{replyFileSeq}
		   </foreach>
	</update>

	<update id="softDeleteAdminCompanyWorkReplyFileList">
		/* CompanyWorkMapper.softDeleteAdminCompanyWorkReplyFileList: 관리자 회사 업무 댓글 첨부파일 전체 삭제 처리 */
		UPDATE WORK_COMPANY_PROJECT_JOB_REPLY_FILE
		   SET DEL_YN = 'Y'
		     , UDT_NO = #{udtNo}
		     , UDT_DT = NOW()
		 WHERE REPLY_SEQ = #{replySeq}
		   AND WORK_SEQ = #{workSeq}
		   AND DEL_YN = 'N'
	</update>
</mapper>
