<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xodud1202.springbackend.mapper.CouponMapper">
	<select id="getAdminCouponList" resultType="com.xodud1202.springbackend.domain.admin.coupon.CouponVO">
		/* CouponMapper.getAdminCouponList: 관리자 쿠폰 목록 조회 */
		SELECT CB.CPN_NO
		     , CB.CPN_NM
		     , CCS.CD_NM AS CPN_STAT_NM
		     , CCG.CD_NM AS CPN_GB_NM
		     , CCT.CD_NM AS CPN_TARGET_NM
		     , CASE
		         WHEN CB.CPN_DOWN_START_DT IS NULL OR CB.CPN_DOWN_START_DT = '0000-00-00 00:00:00' THEN ''
		         ELSE DATE_FORMAT(CB.CPN_DOWN_START_DT, '%Y-%m-%d %H')
		       END AS CPN_DOWN_START_DT
		     , CASE
		         WHEN CB.CPN_DOWN_END_DT IS NULL OR CB.CPN_DOWN_END_DT = '0000-00-00 00:00:00' THEN ''
		         ELSE DATE_FORMAT(CB.CPN_DOWN_END_DT, '%Y-%m-%d %H')
		       END AS CPN_DOWN_END_DT
		     , CB.CPN_DOWN_ABLE_YN
		     , CASE
		         WHEN CB.STAT_STOP_DT IS NULL OR CB.STAT_STOP_DT = '0000-00-00 00:00:00' THEN ''
		         ELSE DATE_FORMAT(CB.STAT_STOP_DT, '%Y-%m-%d %H')
		       END AS STAT_STOP_DT
		  FROM COUPON_BASE CB
		  LEFT JOIN COMMON_CODE CCS
		    ON CCS.GRP_CD = 'CPN_STAT'
		   AND CCS.CD = CB.CPN_STAT_CD
		  LEFT JOIN COMMON_CODE CCG
		    ON CCG.GRP_CD = 'CPN_GB'
		   AND CCG.CD = CB.CPN_GB_CD
		  LEFT JOIN COMMON_CODE CCT
		    ON CCT.GRP_CD = 'CPN_TARGET'
		   AND CCT.CD = CB.CPN_TARGET_CD
		 WHERE IFNULL(CB.DEL_YN, 'N') = 'N'
		<if test="searchGb == 'CPN_NO' and searchValue != null and searchValue != ''">
		  AND CB.CPN_NO = #{searchValue}
		</if>
		<if test="searchGb == 'CPN_NM' and searchValue != null and searchValue != ''">
		  AND CB.CPN_NM LIKE CONCAT(#{searchValue}, '%')
		</if>
		<if test="dateGb == 'REG_DT' and searchStartDt != null and searchStartDt != ''">
		  AND CB.REG_DT &gt;= #{searchStartDt}
		</if>
		<if test="dateGb == 'REG_DT' and searchEndDt != null and searchEndDt != ''">
		  AND CB.REG_DT &lt;= #{searchEndDt}
		</if>
		<if test="dateGb == 'DOWN_DT' and searchStartDt != null and searchStartDt != ''">
		  AND IFNULL(NULLIF(CB.CPN_DOWN_END_DT, '0000-00-00 00:00:00'), '9999-12-31 23:59:59') &gt;= #{searchStartDt}
		</if>
		<if test="dateGb == 'DOWN_DT' and searchEndDt != null and searchEndDt != ''">
		  AND IFNULL(NULLIF(CB.CPN_DOWN_START_DT, '0000-00-00 00:00:00'), '1000-01-01 00:00:00') &lt;= #{searchEndDt}
		</if>
		<if test="cpnStatCd != null and cpnStatCd != ''">
		  AND CB.CPN_STAT_CD = #{cpnStatCd}
		</if>
		<if test="cpnGbCd != null and cpnGbCd != ''">
		  AND CB.CPN_GB_CD = #{cpnGbCd}
		</if>
		<if test="cpnTargetCd != null and cpnTargetCd != ''">
		  AND CB.CPN_TARGET_CD = #{cpnTargetCd}
		</if>
		<if test="cpnDownAbleYn != null and cpnDownAbleYn != ''">
		  AND CB.CPN_DOWN_ABLE_YN = #{cpnDownAbleYn}
		</if>
		 ORDER BY CB.CPN_NO DESC
		 LIMIT #{pageSize} OFFSET #{offset}
	</select>

	<select id="getAdminCouponCount" resultType="int">
		/* CouponMapper.getAdminCouponCount: 관리자 쿠폰 목록 건수 조회 */
		SELECT COUNT(1)
		  FROM COUPON_BASE CB
		 WHERE IFNULL(CB.DEL_YN, 'N') = 'N'
		<if test="searchGb == 'CPN_NO' and searchValue != null and searchValue != ''">
		  AND CB.CPN_NO = #{searchValue}
		</if>
		<if test="searchGb == 'CPN_NM' and searchValue != null and searchValue != ''">
		  AND CB.CPN_NM LIKE CONCAT(#{searchValue}, '%')
		</if>
		<if test="dateGb == 'REG_DT' and searchStartDt != null and searchStartDt != ''">
		  AND CB.REG_DT &gt;= #{searchStartDt}
		</if>
		<if test="dateGb == 'REG_DT' and searchEndDt != null and searchEndDt != ''">
		  AND CB.REG_DT &lt;= #{searchEndDt}
		</if>
		<if test="dateGb == 'DOWN_DT' and searchStartDt != null and searchStartDt != ''">
		  AND IFNULL(NULLIF(CB.CPN_DOWN_END_DT, '0000-00-00 00:00:00'), '9999-12-31 23:59:59') &gt;= #{searchStartDt}
		</if>
		<if test="dateGb == 'DOWN_DT' and searchEndDt != null and searchEndDt != ''">
		  AND IFNULL(NULLIF(CB.CPN_DOWN_START_DT, '0000-00-00 00:00:00'), '1000-01-01 00:00:00') &lt;= #{searchEndDt}
		</if>
		<if test="cpnStatCd != null and cpnStatCd != ''">
		  AND CB.CPN_STAT_CD = #{cpnStatCd}
		</if>
		<if test="cpnGbCd != null and cpnGbCd != ''">
		  AND CB.CPN_GB_CD = #{cpnGbCd}
		</if>
		<if test="cpnTargetCd != null and cpnTargetCd != ''">
		  AND CB.CPN_TARGET_CD = #{cpnTargetCd}
		</if>
		<if test="cpnDownAbleYn != null and cpnDownAbleYn != ''">
		  AND CB.CPN_DOWN_ABLE_YN = #{cpnDownAbleYn}
		</if>
	</select>

	<select id="getAdminCouponDetail" resultType="com.xodud1202.springbackend.domain.admin.coupon.CouponDetailVO">
		/* CouponMapper.getAdminCouponDetail: 관리자 쿠폰 상세 조회 */
		SELECT CB.CPN_NO
		     , CB.CPN_NM
		     , CB.CPN_STAT_CD
		     , CB.CPN_GB_CD
		     , CB.CPN_TARGET_CD
		     , CASE
		         WHEN CB.CPN_DOWN_START_DT IS NULL OR CB.CPN_DOWN_START_DT = '0000-00-00 00:00:00' THEN NULL
		         ELSE DATE_FORMAT(CB.CPN_DOWN_START_DT, '%Y-%m-%d %H:%i:%s')
		       END AS CPN_DOWN_START_DT
		     , CASE
		         WHEN CB.CPN_DOWN_END_DT IS NULL OR CB.CPN_DOWN_END_DT = '0000-00-00 00:00:00' THEN NULL
		         ELSE DATE_FORMAT(CB.CPN_DOWN_END_DT, '%Y-%m-%d %H:%i:%s')
		       END AS CPN_DOWN_END_DT
		     , CB.CPN_USE_DT_GB
		     , CB.CPN_USABLE_DT
		     , CASE
		         WHEN CB.CPN_USE_START_DT IS NULL OR CB.CPN_USE_START_DT = '0000-00-00 00:00:00' THEN NULL
		         ELSE DATE_FORMAT(CB.CPN_USE_START_DT, '%Y-%m-%d %H:%i:%s')
		       END AS CPN_USE_START_DT
		     , CASE
		         WHEN CB.CPN_USE_END_DT IS NULL OR CB.CPN_USE_END_DT = '0000-00-00 00:00:00' THEN NULL
		         ELSE DATE_FORMAT(CB.CPN_USE_END_DT, '%Y-%m-%d %H:%i:%s')
		       END AS CPN_USE_END_DT
		     , CB.CPN_DOWN_ABLE_YN
		     , CASE
		         WHEN CB.STAT_STOP_DT IS NULL OR CB.STAT_STOP_DT = '0000-00-00 00:00:00' THEN NULL
		         ELSE DATE_FORMAT(CB.STAT_STOP_DT, '%Y-%m-%d %H:%i:%s')
		       END AS STAT_STOP_DT
		  FROM COUPON_BASE CB
		 WHERE CB.CPN_NO = #{cpnNo}
		   AND IFNULL(CB.DEL_YN, 'N') = 'N'
	</select>

	<select id="getAdminCouponApplyGoodsTargetList" resultType="com.xodud1202.springbackend.domain.admin.coupon.CouponTargetRowVO">
		/* CouponMapper.getAdminCouponApplyGoodsTargetList: 관리자 쿠폰 상품 적용 대상 조회 */
		SELECT CT.TARGET_GB_CD
		     , CT.TARGET_VALUE
		     , CT.TARGET_VALUE AS GOODS_ID
		     , GB.GOODS_NM
		     , GB.ERP_STYLE_CD
		     , CONCAT('[', CT.TARGET_VALUE, '] ', IFNULL(GB.GOODS_NM, '')) AS TARGET_NM
		  FROM COUPON_TARGET CT
		  LEFT JOIN GOODS_BASE GB
		    ON GB.GOODS_ID = CT.TARGET_VALUE
		 WHERE CT.CPN_NO = #{cpnNo}
		   AND CT.TARGET_GB_CD = 'TARGET_GB_01'
		 ORDER BY CT.TARGET_VALUE ASC
	</select>

	<select id="getAdminCouponApplyExhibitionTargetList" resultType="com.xodud1202.springbackend.domain.admin.coupon.CouponTargetRowVO">
		/* CouponMapper.getAdminCouponApplyExhibitionTargetList: 관리자 쿠폰 기획전 적용 대상 조회 */
		SELECT CT.TARGET_GB_CD
		     , CT.TARGET_VALUE
		     , EB.EXHIBITION_NO
		     , EB.EXHIBITION_NM
		     , CONCAT('[', CT.TARGET_VALUE, '] ', IFNULL(EB.EXHIBITION_NM, '')) AS TARGET_NM
		  FROM COUPON_TARGET CT
		  LEFT JOIN EXHIBITION_BASE EB
		    ON EB.EXHIBITION_NO = CAST(CT.TARGET_VALUE AS UNSIGNED)
		   AND IFNULL(EB.DEL_YN, 'N') = 'N'
		 WHERE CT.CPN_NO = #{cpnNo}
		   AND CT.TARGET_GB_CD = 'TARGET_GB_01'
		 ORDER BY CT.TARGET_VALUE ASC
	</select>

	<select id="getAdminCouponApplyCategoryTargetList" resultType="com.xodud1202.springbackend.domain.admin.coupon.CouponTargetRowVO">
		/* CouponMapper.getAdminCouponApplyCategoryTargetList: 관리자 쿠폰 카테고리 적용 대상 조회 */
		SELECT CT.TARGET_GB_CD
		     , CT.TARGET_VALUE
		     , C.CATEGORY_ID
		     , C.CATEGORY_NM
		     , C.CATEGORY_LEVEL
		     , CONCAT('[', CT.TARGET_VALUE, '] ', IFNULL(C.CATEGORY_NM, '')) AS TARGET_NM
		  FROM COUPON_TARGET CT
		  LEFT JOIN CATEGORY C
		    ON C.CATEGORY_ID = CT.TARGET_VALUE
		 WHERE CT.CPN_NO = #{cpnNo}
		   AND CT.TARGET_GB_CD = 'TARGET_GB_01'
		 ORDER BY CT.TARGET_VALUE ASC
	</select>

	<select id="getAdminCouponExcludeGoodsTargetList" resultType="com.xodud1202.springbackend.domain.admin.coupon.CouponTargetRowVO">
		/* CouponMapper.getAdminCouponExcludeGoodsTargetList: 관리자 쿠폰 상품 제외 대상 조회 */
		SELECT CT.TARGET_GB_CD
		     , CT.TARGET_VALUE
		     , CT.TARGET_VALUE AS GOODS_ID
		     , GB.GOODS_NM
		     , GB.ERP_STYLE_CD
		     , CONCAT('[', CT.TARGET_VALUE, '] ', IFNULL(GB.GOODS_NM, '')) AS TARGET_NM
		  FROM COUPON_TARGET CT
		  LEFT JOIN GOODS_BASE GB
		    ON GB.GOODS_ID = CT.TARGET_VALUE
		 WHERE CT.CPN_NO = #{cpnNo}
		   AND CT.TARGET_GB_CD = 'TARGET_GB_02'
		 ORDER BY CT.TARGET_VALUE ASC
	</select>

	<insert id="insertCouponBase" useGeneratedKeys="true" keyProperty="cpnNo" keyColumn="CPN_NO">
		/* CouponMapper.insertCouponBase: 관리자 쿠폰 등록 */
		INSERT INTO COUPON_BASE (
		       CPN_NM
		     , CPN_STAT_CD
		     , CPN_GB_CD
		     , CPN_TARGET_CD
		     , CPN_DOWN_START_DT
		     , CPN_DOWN_END_DT
		     , CPN_USE_DT_GB
		     , CPN_USABLE_DT
		     , CPN_USE_START_DT
		     , CPN_USE_END_DT
		     , DEL_YN
		     , CPN_DOWN_ABLE_YN
		     , STAT_STOP_DT
		     , REG_NO
		     , UDT_NO
		) VALUES (
		       #{cpnNm}
		     , #{cpnStatCd}
		     , #{cpnGbCd}
		     , #{cpnTargetCd}
		     , COALESCE(NULLIF(#{cpnDownStartDt}, ''), NOW())
		     , COALESCE(NULLIF(#{cpnDownEndDt}, ''), '0000-00-00 00:00:00')
		     , #{cpnUseDtGb}
		     , #{cpnUsableDt}
		     , COALESCE(NULLIF(#{cpnUseStartDt}, ''), '0000-00-00 00:00:00')
		     , COALESCE(NULLIF(#{cpnUseEndDt}, ''), '0000-00-00 00:00:00')
		     , 'N'
		     , COALESCE(NULLIF(#{cpnDownAbleYn}, ''), 'Y')
		     , COALESCE(NULLIF(#{statStopDt}, ''), '0000-00-00 00:00:00')
		     , #{regNo}
		     , #{udtNo}
		)
	</insert>

	<update id="updateCouponBase">
		/* CouponMapper.updateCouponBase: 관리자 쿠폰 수정 */
		UPDATE COUPON_BASE
		   SET CPN_NM = #{cpnNm}
		     , CPN_STAT_CD = #{cpnStatCd}
		     , CPN_GB_CD = #{cpnGbCd}
		     , CPN_TARGET_CD = #{cpnTargetCd}
		     , CPN_DOWN_START_DT = COALESCE(NULLIF(#{cpnDownStartDt}, ''), NOW())
		     , CPN_DOWN_END_DT = COALESCE(NULLIF(#{cpnDownEndDt}, ''), '0000-00-00 00:00:00')
		     , CPN_USE_DT_GB = #{cpnUseDtGb}
		     , CPN_USABLE_DT = #{cpnUsableDt}
		     , CPN_USE_START_DT = COALESCE(NULLIF(#{cpnUseStartDt}, ''), '0000-00-00 00:00:00')
		     , CPN_USE_END_DT = COALESCE(NULLIF(#{cpnUseEndDt}, ''), '0000-00-00 00:00:00')
		     , CPN_DOWN_ABLE_YN = COALESCE(NULLIF(#{cpnDownAbleYn}, ''), 'Y')
		     , STAT_STOP_DT = COALESCE(NULLIF(#{statStopDt}, ''), '0000-00-00 00:00:00')
		     , UDT_NO = #{udtNo}
		     , UDT_DT = NOW()
		 WHERE CPN_NO = #{cpnNo}
		   AND IFNULL(DEL_YN, 'N') = 'N'
	</update>

	<select id="countCouponByNo" resultType="int">
		/* CouponMapper.countCouponByNo: 쿠폰 존재 여부 조회 */
		SELECT COUNT(1)
		  FROM COUPON_BASE
		 WHERE CPN_NO = #{cpnNo}
		   AND IFNULL(DEL_YN, 'N') = 'N'
	</select>

	<delete id="deleteCouponTargetByCpnNo">
		/* CouponMapper.deleteCouponTargetByCpnNo: 관리자 쿠폰 대상 삭제 */
		DELETE
		  FROM COUPON_TARGET
		 WHERE CPN_NO = #{cpnNo}
	</delete>

	<insert id="insertCouponTargetBatch">
		/* CouponMapper.insertCouponTargetBatch: 관리자 쿠폰 대상 배치 등록 */
		INSERT INTO COUPON_TARGET (
		       CPN_NO
		     , TARGET_GB_CD
		     , TARGET_VALUE
		     , REG_NO
		     , UDT_NO
		) VALUES
		<foreach collection="list" item="item" separator=",">
			(
		       #{cpnNo}
		     , #{item.targetGbCd}
		     , #{item.targetValue}
		     , #{regNo}
		     , #{udtNo}
			)
		</foreach>
	</insert>

	<select id="getExistingGoodsTargetRows" resultType="com.xodud1202.springbackend.domain.admin.coupon.CouponTargetRowVO">
		/* CouponMapper.getExistingGoodsTargetRows: 유효한 상품 대상 목록 조회 */
		SELECT GB.GOODS_ID AS TARGET_VALUE
		     , GB.GOODS_ID
		     , GB.GOODS_NM
		     , GB.ERP_STYLE_CD
		     , CONCAT('[', GB.GOODS_ID, '] ', IFNULL(GB.GOODS_NM, '')) AS TARGET_NM
		  FROM GOODS_BASE GB
		 WHERE GB.GOODS_ID IN
		<foreach collection="targetValueList" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
		 ORDER BY GB.GOODS_ID ASC
	</select>

	<select id="getExistingExhibitionTargetRows" resultType="com.xodud1202.springbackend.domain.admin.coupon.CouponTargetRowVO">
		/* CouponMapper.getExistingExhibitionTargetRows: 유효한 기획전 대상 목록 조회 */
		SELECT CAST(EB.EXHIBITION_NO AS CHAR) AS TARGET_VALUE
		     , EB.EXHIBITION_NO
		     , EB.EXHIBITION_NM
		     , CONCAT('[', EB.EXHIBITION_NO, '] ', IFNULL(EB.EXHIBITION_NM, '')) AS TARGET_NM
		  FROM EXHIBITION_BASE EB
		 WHERE EB.EXHIBITION_NO IN
		<foreach collection="targetValueList" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
		   AND IFNULL(EB.DEL_YN, 'N') = 'N'
		 ORDER BY EB.EXHIBITION_NO ASC
	</select>

	<select id="getExistingCategoryTargetRows" resultType="com.xodud1202.springbackend.domain.admin.coupon.CouponTargetRowVO">
		/* CouponMapper.getExistingCategoryTargetRows: 유효한 카테고리 대상 목록 조회 */
		SELECT C.CATEGORY_ID AS TARGET_VALUE
		     , C.CATEGORY_ID
		     , C.CATEGORY_NM
		     , C.CATEGORY_LEVEL
		     , CONCAT('[', C.CATEGORY_ID, '] ', IFNULL(C.CATEGORY_NM, '')) AS TARGET_NM
		  FROM CATEGORY C
		 WHERE C.CATEGORY_ID IN
		<foreach collection="targetValueList" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
		 ORDER BY C.CATEGORY_ID ASC
	</select>
</mapper>
