<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xodud1202.springbackend.mapper.GoodsMapper">
	<select id="getAdminGoodsList" resultType="com.xodud1202.springbackend.domain.admin.goods.GoodsVO">
		/* GoodsMapper.getAdminGoodsList: 관리자 상품 목록 조회 */
		SELECT GB.GOODS_ID
		     , GB.BRAND_NO
		     , BB.BRAND_NM AS BRAND_NM
		     , GB.ERP_STYLE_CD
		     , GB.GOODS_NM
		     , GB.GOODS_STAT_CD
		     , CS.CD_NM AS GOODS_STAT_NM
		     , GB.GOODS_DIV_CD
		     , CD.CD_NM AS GOODS_DIV_NM
		     , GB.SHOW_YN
		     , GB.REG_DT
		     , GB.UDT_DT
		  FROM GOODS_BASE GB
		  LEFT JOIN BRAND_BASE BB
		    ON BB.BRAND_NO = GB.BRAND_NO
		  LEFT JOIN COMMON_CODE CD
		    ON CD.GRP_CD = 'GOODS_DIV'
		   AND CD.CD = GB.GOODS_DIV_CD
		  LEFT JOIN COMMON_CODE CS
		    ON CS.GRP_CD = 'GOODS_STAT'
		   AND CS.CD = GB.GOODS_STAT_CD
		 WHERE 1 = 1
		<if test="goodsStatCd != null and goodsStatCd != ''">
		   AND GB.GOODS_STAT_CD = #{goodsStatCd}
		</if>
		<if test="goodsDivCd != null and goodsDivCd != ''">
		   AND GB.GOODS_DIV_CD = #{goodsDivCd}
		</if>
		<if test="showYn != null and showYn != ''">
		   AND GB.SHOW_YN = #{showYn}
		</if>
		<if test="brandNo != null and brandNo != ''">
		   AND GB.BRAND_NO = #{brandNo}
		</if>
		<if test="searchValue != null and searchValue != ''">
			<choose>
				<when test="searchGb == 'goodsId'">
		   AND GB.GOODS_ID LIKE CONCAT(#{searchValue}, '%')
				</when>
				<when test="searchGb == 'erpStyleCd'">
		   AND GB.ERP_STYLE_CD LIKE CONCAT(#{searchValue}, '%')
				</when>
				<when test="searchGb == 'goodsNm' and searchKeyword != null and searchKeyword != ''">
		   AND MATCH(GB.GOODS_NM) AGAINST(#{searchKeyword} IN BOOLEAN MODE)
				</when>
			</choose>
		</if>
		 ORDER BY GB.REG_DT DESC
		 LIMIT #{pageSize} OFFSET #{offset}
	</select>

	<select id="getAdminGoodsCount" resultType="int">
		/* GoodsMapper.getAdminGoodsCount: 관리자 상품 목록 조회 수 */
		SELECT COUNT(1)
		  FROM GOODS_BASE GB
		 WHERE 1 = 1
		<if test="goodsStatCd != null and goodsStatCd != ''">
		   AND GB.GOODS_STAT_CD = #{goodsStatCd}
		</if>
		<if test="goodsDivCd != null and goodsDivCd != ''">
		   AND GB.GOODS_DIV_CD = #{goodsDivCd}
		</if>
		<if test="showYn != null and showYn != ''">
		   AND GB.SHOW_YN = #{showYn}
		</if>
		<if test="brandNo != null and brandNo != ''">
		   AND GB.BRAND_NO = #{brandNo}
		</if>
		<if test="searchValue != null and searchValue != ''">
			<choose>
				<when test="searchGb == 'goodsId'">
		   AND GB.GOODS_ID LIKE CONCAT(#{searchValue}, '%')
				</when>
				<when test="searchGb == 'erpStyleCd'">
		   AND GB.ERP_STYLE_CD LIKE CONCAT(#{searchValue}, '%')
				</when>
				<when test="searchGb == 'goodsNm' and searchKeyword != null and searchKeyword != ''">
		   AND MATCH(GB.GOODS_NM) AGAINST(#{searchKeyword} IN BOOLEAN MODE)
				</when>
			</choose>
		</if>
	</select>

	<select id="getGoodsMerchList" resultType="com.xodud1202.springbackend.domain.admin.goods.GoodsMerchVO">
		/* GoodsMapper.getGoodsMerchList: 상품 분류 목록 조회 */
		SELECT GOODS_MERCH_ID
		     , GOODS_MERCH_NM
		  FROM GOODS_MERCH_BASE
		 ORDER BY GOODS_MERCH_ID
	</select>

	<select id="getBrandList" resultType="com.xodud1202.springbackend.domain.admin.brand.BrandVO">
		/* GoodsMapper.getBrandList: 브랜드 목록 조회 */
		SELECT BRAND_NO
		     , BRAND_NM
		  FROM BRAND_BASE
		 WHERE USE_YN = 'Y'
		   AND DEL_YN = 'N'
		 ORDER BY DISP_ORD ASC, BRAND_NO ASC
	</select>

	<select id="getAdminGoodsDetail" resultType="com.xodud1202.springbackend.domain.admin.goods.GoodsDetailVO">
		/* GoodsMapper.getAdminGoodsDetail: 관리자 상품 상세 조회 */
		SELECT GOODS_ID
		     , GOODS_DIV_CD
		     , GOODS_STAT_CD
		     , GOODS_NM
		     , GOODS_GROUP_ID
		     , GOODS_MERCH_ID
		     , SUPPLY_AMT
		     , SALE_AMT
		     , SHOW_YN
		     , ERP_SUPPLY_AMT
		     , ERP_COST_AMT
		     , ERP_STYLE_CD
		     , ERP_COLOR_CD
		     , ERP_MERCH_CD
		  FROM GOODS_BASE
		 WHERE GOODS_ID = #{goodsId}
	</select>

	<insert id="insertAdminGoods">
		/* GoodsMapper.insertAdminGoods: 관리자 상품 등록 */
		INSERT INTO GOODS_BASE (
		       GOODS_ID
		     , BRAND_NO
		     , GOODS_DIV_CD
		     , GOODS_STAT_CD
		     , GOODS_NM
		     , GOODS_GROUP_ID
		     , GOODS_MERCH_ID
		     , SUPPLY_AMT
		     , SALE_AMT
		     , SHOW_YN
		     , ERP_SUPPLY_AMT
		     , ERP_COST_AMT
		     , ERP_STYLE_CD
		     , ERP_COLOR_CD
		     , ERP_MERCH_CD
		     , REG_NO
		     , UDT_NO
		) VALUES (
		       #{goodsId}
		     , #{brandNo}
		     , #{goodsDivCd}
		     , #{goodsStatCd}
		     , #{goodsNm}
		     , #{goodsGroupId}
		     , #{goodsMerchId}
		     , #{supplyAmt}
		     , #{saleAmt}
		     , #{showYn}
		     , #{erpSupplyAmt}
		     , #{erpCostAmt}
		     , #{erpStyleCd}
		     , #{erpColorCd}
		     , #{erpMerchCd}
		     , #{regNo}
		     , #{udtNo}
		)
	</insert>

	<update id="updateAdminGoods">
		/* GoodsMapper.updateAdminGoods: 관리자 상품 수정 */
		UPDATE GOODS_BASE
		   SET GOODS_DIV_CD = #{goodsDivCd}
		     , GOODS_STAT_CD = #{goodsStatCd}
		     , GOODS_NM = #{goodsNm}
		     , GOODS_GROUP_ID = #{goodsGroupId}
		     , GOODS_MERCH_ID = #{goodsMerchId}
		     , SUPPLY_AMT = #{supplyAmt}
		     , SALE_AMT = #{saleAmt}
		     , SHOW_YN = #{showYn}
		     , ERP_SUPPLY_AMT = #{erpSupplyAmt}
		     , ERP_COST_AMT = #{erpCostAmt}
		     , ERP_STYLE_CD = #{erpStyleCd}
		     , ERP_COLOR_CD = #{erpColorCd}
		     , ERP_MERCH_CD = #{erpMerchCd}
		     , UDT_NO = #{udtNo}
		     , UDT_DT = NOW()
		 WHERE GOODS_ID = #{goodsId}
	</update>

	<select id="getCategoryList" resultType="com.xodud1202.springbackend.domain.admin.category.CategoryVO">
		/* GoodsMapper.getCategoryList: 카테고리 목록 조회 */
		SELECT CATEGORY_ID
		     , PARENT_CATEGORY_ID
		     , CATEGORY_LEVEL
		     , CATEGORY_NM
		     , DISP_ORD
		     , SHOW_YN
		  FROM CATEGORY
		 WHERE SHOW_YN = 'Y'
		<if test="categoryLevel != null">
		   AND CATEGORY_LEVEL = #{categoryLevel}
		</if>
		<if test="parentCategoryId != null and parentCategoryId != ''">
		   AND PARENT_CATEGORY_ID = #{parentCategoryId}
		</if>
		 ORDER BY DISP_ORD ASC, CATEGORY_ID ASC
	</select>

	<select id="getAdminCategoryTreeList" resultType="com.xodud1202.springbackend.domain.admin.category.CategoryVO">
		/* GoodsMapper.getAdminCategoryTreeList: 관리자 카테고리 트리 목록 조회 */
		SELECT C1.CATEGORY_ID
		     , C1.PARENT_CATEGORY_ID
		     , C1.CATEGORY_LEVEL
		     , C1.CATEGORY_NM
		     , C1.DISP_ORD
		     , C1.SHOW_YN
		     , (
		        SELECT COUNT(1)
		          FROM CATEGORY C2
		         WHERE C2.PARENT_CATEGORY_ID = C1.CATEGORY_ID
		       ) AS CHILD_COUNT
		  FROM CATEGORY C1
		 ORDER BY C1.CATEGORY_LEVEL ASC, C1.DISP_ORD ASC, C1.CATEGORY_ID ASC
	</select>

	<select id="getAdminCategoryDetail" resultType="com.xodud1202.springbackend.domain.admin.category.CategoryVO">
		/* GoodsMapper.getAdminCategoryDetail: 관리자 카테고리 상세 조회 */
		SELECT CATEGORY_ID
		     , PARENT_CATEGORY_ID
		     , CATEGORY_LEVEL
		     , CATEGORY_NM
		     , DISP_ORD
		     , SHOW_YN
		  FROM CATEGORY
		 WHERE CATEGORY_ID = #{categoryId}
	</select>

	<select id="getAdminCategoryMaxDispOrd" resultType="int">
		/* GoodsMapper.getAdminCategoryMaxDispOrd: 관리자 카테고리 정렬 순서 최대값 조회 */
		SELECT COALESCE(MAX(DISP_ORD), 0)
		  FROM CATEGORY
		 WHERE PARENT_CATEGORY_ID = #{parentCategoryId}
	</select>

	<select id="getAdminCategoryMaxId" resultType="string">
		/* GoodsMapper.getAdminCategoryMaxId: 관리자 카테고리 최대 코드 조회 */
		SELECT MAX(CATEGORY_ID)
		  FROM CATEGORY
		 WHERE PARENT_CATEGORY_ID = #{parentCategoryId}
	</select>

	<insert id="insertAdminCategory">
		/* GoodsMapper.insertAdminCategory: 관리자 카테고리 등록 */
		INSERT INTO CATEGORY (
		       CATEGORY_ID
		     , PARENT_CATEGORY_ID
		     , CATEGORY_LEVEL
		     , CATEGORY_NM
		     , DISP_ORD
		     , SHOW_YN
		     , REG_NO
		     , UDT_NO
		) VALUES (
		       #{categoryId}
		     , #{parentCategoryId}
		     , #{categoryLevel}
		     , #{categoryNm}
		     , #{dispOrd}
		     , #{showYn}
		     , #{regNo}
		     , #{udtNo}
		)
	</insert>

	<update id="updateAdminCategory">
		/* GoodsMapper.updateAdminCategory: 관리자 카테고리 수정 */
		UPDATE CATEGORY
		   SET CATEGORY_NM = #{categoryNm}
		     , DISP_ORD = #{dispOrd}
		     , SHOW_YN = #{showYn}
		     , UDT_NO = #{udtNo}
		     , UDT_DT = NOW()
		 WHERE CATEGORY_ID = #{categoryId}
	</update>

	<delete id="deleteAdminCategory">
		/* GoodsMapper.deleteAdminCategory: 관리자 카테고리 삭제 처리 */
		DELETE
		  FROM CATEGORY
		 WHERE CATEGORY_ID = #{categoryId}
	</delete>

	<select id="countAdminCategoryChildren" resultType="int">
		/* GoodsMapper.countAdminCategoryChildren: 관리자 카테고리 하위 건수 조회 */
		SELECT COUNT(1)
		  FROM CATEGORY
		 WHERE PARENT_CATEGORY_ID = #{categoryId}
	</select>

	<select id="countAdminCategoryById" resultType="int">
		/* GoodsMapper.countAdminCategoryById: 관리자 카테고리 중복 건수 조회 */
		SELECT COUNT(1)
		  FROM CATEGORY
		 WHERE CATEGORY_ID = #{categoryId}
	</select>

	<select id="countAdminCategoryGoods" resultType="int">
		/* GoodsMapper.countAdminCategoryGoods: 관리자 카테고리 상품 사용 건수 조회 */
		SELECT COUNT(1)
		  FROM GOODS_CATEGORY
		 WHERE CATEGORY_ID = #{categoryId}
	</select>

	<select id="getAdminGoodsCategoryList" resultType="com.xodud1202.springbackend.domain.admin.goods.GoodsCategoryVO">
		/* GoodsMapper.getAdminGoodsCategoryList: 관리자 상품 카테고리 목록 조회 */
		SELECT GC.GOODS_ID
		     , GC.CATEGORY_ID
		     , GC.DISP_ORD
		     , CASE C.CATEGORY_LEVEL
		       WHEN 1 THEN C.CATEGORY_ID
		       WHEN 2 THEN P1.CATEGORY_ID
		       WHEN 3 THEN P2.CATEGORY_ID
		       END AS LEVEL1_ID
		     , CASE C.CATEGORY_LEVEL
		       WHEN 1 THEN NULL
		       WHEN 2 THEN C.CATEGORY_ID
		       WHEN 3 THEN P1.CATEGORY_ID
		       END AS LEVEL2_ID
		     , CASE C.CATEGORY_LEVEL
		       WHEN 3 THEN C.CATEGORY_ID
		       ELSE NULL
		       END AS LEVEL3_ID
		  FROM GOODS_CATEGORY GC
		  JOIN CATEGORY C
		    ON C.CATEGORY_ID = GC.CATEGORY_ID
		  LEFT JOIN CATEGORY P1
		    ON P1.CATEGORY_ID = C.PARENT_CATEGORY_ID
		  LEFT JOIN CATEGORY P2
		    ON P2.CATEGORY_ID = P1.PARENT_CATEGORY_ID
		 WHERE GC.GOODS_ID = #{goodsId}
		 ORDER BY GC.DISP_ORD ASC, GC.CATEGORY_ID ASC
	</select>

	<select id="countCategoryChildren" resultType="int">
		/* GoodsMapper.countCategoryChildren: 카테고리 하위 건수 조회 */
		SELECT COUNT(1)
		  FROM CATEGORY
		 WHERE PARENT_CATEGORY_ID = #{categoryId}
		   AND SHOW_YN = 'Y'
	</select>

	<delete id="deleteAdminGoodsCategory">
		/* GoodsMapper.deleteAdminGoodsCategory: 관리자 상품 카테고리 단건 삭제 */
		DELETE
		  FROM GOODS_CATEGORY
		 WHERE GOODS_ID = #{goodsId}
		   AND CATEGORY_ID = #{categoryId}
	</delete>

	<delete id="deleteAdminGoodsCategoryByGoodsId">
		/* GoodsMapper.deleteAdminGoodsCategoryByGoodsId: 관리자 상품 카테고리 삭제 */
		DELETE
		  FROM GOODS_CATEGORY
		 WHERE GOODS_ID = #{goodsId}
	</delete>

	<insert id="insertAdminGoodsCategoryList">
		/* GoodsMapper.insertAdminGoodsCategoryList: 관리자 상품 카테고리 등록 */
		INSERT INTO GOODS_CATEGORY (
		       GOODS_ID
		     , CATEGORY_ID
		     , DISP_ORD
		     , REG_NO
		     , UDT_NO
		) VALUES
		<foreach collection="list" item="item" separator=",">
			(
		       #{item.goodsId}
		     , #{item.categoryId}
		     , #{item.dispOrd}
		     , #{item.regNo}
		     , #{item.udtNo}
			)
		</foreach>
	</insert>

	<insert id="insertAdminGoodsCategory">
		/* GoodsMapper.insertAdminGoodsCategory: 관리자 상품 카테고리 단건 등록 */
		INSERT INTO GOODS_CATEGORY (
		       GOODS_ID
		     , CATEGORY_ID
		     , DISP_ORD
		     , REG_NO
		     , UDT_NO
		) VALUES (
		       #{goodsId}
		     , #{categoryId}
		     , #{dispOrd}
		     , #{regNo}
		     , #{udtNo}
		)
	</insert>

	<update id="updateAdminGoodsCategory">
		/* GoodsMapper.updateAdminGoodsCategory: 관리자 상품 카테고리 단건 수정 */
		UPDATE GOODS_CATEGORY
		   SET DISP_ORD = #{dispOrd}
		     , UDT_NO = #{udtNo}
		     , UDT_DT = NOW()
		 WHERE GOODS_ID = #{goodsId}
		   AND CATEGORY_ID = #{categoryId}
	</update>

	<select id="countAdminGoodsCategory" resultType="int">
		/* GoodsMapper.countAdminGoodsCategory: 관리자 상품 카테고리 건수 조회 */
		SELECT COUNT(1)
		  FROM GOODS_CATEGORY
		 WHERE GOODS_ID = #{goodsId}
		   AND CATEGORY_ID = #{categoryId}
	</select>

	<select id="getAdminGoodsSizeList" resultType="com.xodud1202.springbackend.domain.admin.goods.GoodsSizeVO">
		/* GoodsMapper.getAdminGoodsSizeList: 관리자 상품 사이즈 목록 조회 */
		SELECT GOODS_ID
		     , SIZE_ID
		     , STOCK_QTY
		     , ADD_AMT
		     , ERP_SYNC_YN
		     , ERP_SIZE_CD
		     , DISP_ORD
		     , DEL_YN
		  FROM GOODS_SIZE
		 WHERE GOODS_ID = #{goodsId}
		   AND DEL_YN = 'N'
		 ORDER BY DISP_ORD ASC, SIZE_ID ASC
	</select>

	<select id="getAdminGoodsSizeDetail" resultType="com.xodud1202.springbackend.domain.admin.goods.GoodsSizeVO">
		/* GoodsMapper.getAdminGoodsSizeDetail: 관리자 상품 사이즈 단건 조회 */
		SELECT GOODS_ID
		     , SIZE_ID
		     , STOCK_QTY
		     , ADD_AMT
		     , ERP_SYNC_YN
		     , ERP_SIZE_CD
		     , DISP_ORD
		     , DEL_YN
		  FROM GOODS_SIZE
		 WHERE GOODS_ID = #{goodsId}
		   AND SIZE_ID = #{sizeId}
	</select>

	<insert id="insertAdminGoodsSize">
		/* GoodsMapper.insertAdminGoodsSize: 관리자 상품 사이즈 등록 */
		INSERT INTO GOODS_SIZE (
		       GOODS_ID
		     , SIZE_ID
		     , STOCK_QTY
		     , ADD_AMT
		     , ERP_SYNC_YN
		     , ERP_SIZE_CD
		     , DISP_ORD
		     , DEL_YN
		     , REG_NO
		     , UDT_NO
		) VALUES (
		       #{goodsId}
		     , #{sizeId}
		     , #{stockQty}
		     , #{addAmt}
		     , #{erpSyncYn}
		     , #{erpSizeCd}
		     , #{dispOrd}
		     , #{delYn}
		     , #{regNo}
		     , #{udtNo}
		)
	</insert>

	<update id="updateAdminGoodsSize">
		/* GoodsMapper.updateAdminGoodsSize: 관리자 상품 사이즈 수정 */
		UPDATE GOODS_SIZE
		   SET SIZE_ID = #{sizeId}
		     , STOCK_QTY = #{stockQty}
		     , ADD_AMT = #{addAmt}
		     , ERP_SYNC_YN = #{erpSyncYn}
		     , DISP_ORD = #{dispOrd}
		     , UDT_NO = #{udtNo}
		     , UDT_DT = NOW()
		 WHERE GOODS_ID = #{goodsId}
		   AND SIZE_ID = #{originSizeId}
	</update>

	<update id="deleteAdminGoodsSize">
		/* GoodsMapper.deleteAdminGoodsSize: 관리자 상품 사이즈 삭제 */
		UPDATE GOODS_SIZE
		   SET DEL_YN = 'Y'
		     , UDT_NO = #{udtNo}
		     , UDT_DT = NOW()
		 WHERE GOODS_ID = #{goodsId}
		   AND SIZE_ID = #{sizeId}
	</update>

	<update id="updateAdminGoodsSizeOrder">
		/* GoodsMapper.updateAdminGoodsSizeOrder: 관리자 상품 사이즈 순서 저장 */
		UPDATE GOODS_SIZE
		   SET DISP_ORD = CASE SIZE_ID
		<foreach collection="orders" item="order">
			WHEN #{order.sizeId} THEN #{order.dispOrd}
		</foreach>
			END
		     , UDT_NO = #{udtNo}
		     , UDT_DT = NOW()
		 WHERE GOODS_ID = #{goodsId}
		   AND SIZE_ID IN
		<foreach collection="orders" item="order" open="(" separator="," close=")">
			#{order.sizeId}
		</foreach>
	</update>

	<select id="getAdminGoodsImageList" resultType="com.xodud1202.springbackend.domain.admin.goods.GoodsImageVO">
		/* GoodsMapper.getAdminGoodsImageList: 관리자 상품 이미지 목록 조회 */
		SELECT IMG_NO
		     , GOODS_ID
		     , DISP_ORD
		     , IMG_PATH
		  FROM GOODS_IMG
		 WHERE GOODS_ID = #{goodsId}
		 ORDER BY DISP_ORD ASC, IMG_NO ASC
	</select>

	<select id="getAdminGoodsImageByNo" resultType="com.xodud1202.springbackend.domain.admin.goods.GoodsImageVO">
		/* GoodsMapper.getAdminGoodsImageByNo: 관리자 상품 이미지 단건 조회 */
		SELECT IMG_NO
		     , GOODS_ID
		     , DISP_ORD
		     , IMG_PATH
		  FROM GOODS_IMG
		 WHERE IMG_NO = #{imgNo}
	</select>

	<select id="getAdminGoodsImageMaxDispOrd" resultType="int">
		/* GoodsMapper.getAdminGoodsImageMaxDispOrd: 관리자 상품 이미지 정렬순서 최대값 조회 */
		SELECT COALESCE(MAX(DISP_ORD), 0)
		  FROM GOODS_IMG
		 WHERE GOODS_ID = #{goodsId}
	</select>

	<insert id="insertAdminGoodsImage">
		/* GoodsMapper.insertAdminGoodsImage: 관리자 상품 이미지 등록 */
		INSERT INTO GOODS_IMG (
		       GOODS_ID
		     , DISP_ORD
		     , IMG_PATH
		     , REG_NO
		     , UDT_NO
		) VALUES (
		       #{goodsId}
		     , #{dispOrd}
		     , #{imgPath}
		     , #{regNo}
		     , #{udtNo}
		)
	</insert>

	<delete id="deleteAdminGoodsImage">
		/* GoodsMapper.deleteAdminGoodsImage: 관리자 상품 이미지 삭제 */
		DELETE
		  FROM GOODS_IMG
		 WHERE IMG_NO = #{imgNo}
	</delete>

	<update id="updateAdminGoodsImageOrder">
		/* GoodsMapper.updateAdminGoodsImageOrder: 관리자 상품 이미지 순서 저장 */
		UPDATE GOODS_IMG
		   SET DISP_ORD = CASE IMG_NO
		<foreach collection="orders" item="order">
			WHEN #{order.imgNo} THEN #{order.dispOrd}
		</foreach>
			END
		     , UDT_NO = #{udtNo}
		     , UDT_DT = NOW()
		 WHERE GOODS_ID = #{goodsId}
		   AND IMG_NO IN
		<foreach collection="orders" item="order" open="(" separator="," close=")">
			#{order.imgNo}
		</foreach>
	</update>

	<select id="getAdminGoodsDescList" resultType="com.xodud1202.springbackend.domain.admin.goods.GoodsDescVO">
		/* GoodsMapper.getAdminGoodsDescList: 관리자 상품 상세 설명 목록 조회 */
		SELECT GOODS_ID
		     , DEVICE_GB_CD
		     , GOODS_DESC
		  FROM GOODS_DESC
		 WHERE GOODS_ID = #{goodsId}
	</select>

	<select id="countAdminGoodsDesc" resultType="int">
		/* GoodsMapper.countAdminGoodsDesc: 관리자 상품 상세 설명 건수 조회 */
		SELECT COUNT(1)
		  FROM GOODS_DESC
		 WHERE GOODS_ID = #{goodsId}
		   AND DEVICE_GB_CD = #{deviceGbCd}
	</select>

	<insert id="insertAdminGoodsDesc">
		/* GoodsMapper.insertAdminGoodsDesc: 관리자 상품 상세 설명 등록 */
		INSERT INTO GOODS_DESC (
		       GOODS_ID
		     , DEVICE_GB_CD
		     , GOODS_DESC
		     , REG_NO
		     , UDT_NO
		) VALUES (
		       #{goodsId}
		     , #{deviceGbCd}
		     , #{goodsDesc}
		     , #{regNo}
		     , #{udtNo}
		)
	</insert>

	<update id="updateAdminGoodsDesc">
		/* GoodsMapper.updateAdminGoodsDesc: 관리자 상품 상세 설명 수정 */
		UPDATE GOODS_DESC
		   SET GOODS_DESC = #{goodsDesc}
		     , UDT_NO = #{udtNo}
		     , UDT_DT = NOW()
		 WHERE GOODS_ID = #{goodsId}
		   AND DEVICE_GB_CD = #{deviceGbCd}
	</update>

</mapper>
