<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xodud1202.springbackend.mapper.GoodsMapper">
	<select id="getAdminGoodsList" resultType="com.xodud1202.springbackend.domain.admin.goods.GoodsVO">
		/* GoodsMapper.getAdminGoodsList: 관리자 상품 목록 조회 */
		SELECT GB.GOODS_ID
		     , GB.BRAND_NO
		     , BB.BRAND_NM AS BRAND_NM
		     , GB.ERP_STYLE_CD
		     , GB.GOODS_NM
		     , GB.GOODS_STAT_CD
		     , FN_GET_CODE_NM('GOODS_STAT', GB.GOODS_STAT_CD) AS GOODS_STAT_NM
		     , GB.GOODS_DIV_CD
		     , FN_GET_CODE_NM('GOODS_DIV', GB.GOODS_DIV_CD) AS GOODS_DIV_NM
		     , GB.SHOW_YN
		     , (
		         SELECT GI.IMG_PATH
		           FROM GOODS_IMG GI
		          WHERE GI.GOODS_ID = GB.GOODS_ID
		          ORDER BY GI.DISP_ORD ASC, GI.IMG_NO ASC
		          LIMIT 1
		       ) AS IMG_PATH
		     , GB.REG_DT
		     , GB.UDT_DT
		  FROM GOODS_BASE GB
		  LEFT JOIN BRAND_BASE BB
		    ON BB.BRAND_NO = GB.BRAND_NO
		 WHERE 1 = 1
		<if test="goodsStatCd != null and goodsStatCd != ''">
		   AND GB.GOODS_STAT_CD = #{goodsStatCd}
		</if>
		<if test="goodsDivCd != null and goodsDivCd != ''">
		   AND GB.GOODS_DIV_CD = #{goodsDivCd}
		</if>
		<if test="goodsMerchId != null and goodsMerchId != ''">
		   AND GB.GOODS_MERCH_ID = #{goodsMerchId}
		</if>
		<if test="showYn != null and showYn != ''">
		   AND GB.SHOW_YN = #{showYn}
		</if>
		<if test="brandNo != null and brandNo != ''">
		   AND GB.BRAND_NO = #{brandNo}
		</if>
		<if test="categoryId != null and categoryId != ''">
		   AND EXISTS (
		       SELECT 1
		         FROM CATEGORY_GOODS CG
		        WHERE CG.GOODS_ID = GB.GOODS_ID
		          AND CG.CATEGORY_ID = #{categoryId}
		   )
		</if>
		<if test="searchValue != null and searchValue != ''">
			<choose>
				<when test="searchGb == 'goodsId'">
		   AND GB.GOODS_ID LIKE CONCAT(#{searchValue}, '%')
				</when>
				<when test="searchGb == 'erpStyleCd'">
		   AND GB.ERP_STYLE_CD LIKE CONCAT(#{searchValue}, '%')
				</when>
				<when test="searchGb == 'goodsNm' and searchKeyword != null and searchKeyword != ''">
		   AND MATCH(GB.GOODS_NM) AGAINST(#{searchKeyword} IN BOOLEAN MODE)
				</when>
			</choose>
		</if>
		 ORDER BY GB.REG_DT DESC
		 LIMIT #{pageSize} OFFSET #{offset}
	</select>

	<select id="getAdminGoodsCount" resultType="int">
		/* GoodsMapper.getAdminGoodsCount: 관리자 상품 목록 조회 수 */
		SELECT COUNT(1)
		  FROM GOODS_BASE GB
		 WHERE 1 = 1
		<if test="goodsStatCd != null and goodsStatCd != ''">
		   AND GB.GOODS_STAT_CD = #{goodsStatCd}
		</if>
		<if test="goodsDivCd != null and goodsDivCd != ''">
		   AND GB.GOODS_DIV_CD = #{goodsDivCd}
		</if>
		<if test="goodsMerchId != null and goodsMerchId != ''">
		   AND GB.GOODS_MERCH_ID = #{goodsMerchId}
		</if>
		<if test="showYn != null and showYn != ''">
		   AND GB.SHOW_YN = #{showYn}
		</if>
		<if test="brandNo != null and brandNo != ''">
		   AND GB.BRAND_NO = #{brandNo}
		</if>
		<if test="categoryId != null and categoryId != ''">
		   AND EXISTS (
		       SELECT 1
		         FROM CATEGORY_GOODS CG
		        WHERE CG.GOODS_ID = GB.GOODS_ID
		          AND CG.CATEGORY_ID = #{categoryId}
		   )
		</if>
		<if test="searchValue != null and searchValue != ''">
			<choose>
				<when test="searchGb == 'goodsId'">
		   AND GB.GOODS_ID LIKE CONCAT(#{searchValue}, '%')
				</when>
				<when test="searchGb == 'erpStyleCd'">
		   AND GB.ERP_STYLE_CD LIKE CONCAT(#{searchValue}, '%')
				</when>
				<when test="searchGb == 'goodsNm' and searchKeyword != null and searchKeyword != ''">
		   AND MATCH(GB.GOODS_NM) AGAINST(#{searchKeyword} IN BOOLEAN MODE)
				</when>
			</choose>
		</if>
	</select>

	<select id="getGoodsMerchList" resultType="com.xodud1202.springbackend.domain.admin.goods.GoodsMerchVO">
		/* GoodsMapper.getGoodsMerchList: 상품 분류 목록 조회 */
		SELECT GOODS_MERCH_ID
		     , GOODS_MERCH_NM
		  FROM GOODS_MERCH_BASE
		 ORDER BY GOODS_MERCH_ID
	</select>

	<select id="getBrandList" resultType="com.xodud1202.springbackend.domain.admin.brand.BrandVO">
		/* GoodsMapper.getBrandList: 브랜드 목록 조회 */
		SELECT BRAND_NO
		     , BRAND_NM
		     , BRAND_LOGO_PATH
		  FROM BRAND_BASE
		 WHERE USE_YN = 'Y'
		   AND DEL_YN = 'N'
		 ORDER BY DISP_ORD ASC, BRAND_NO ASC
	</select>

	<select id="getAdminGoodsDetail" resultType="com.xodud1202.springbackend.domain.admin.goods.GoodsDetailVO">
		/* GoodsMapper.getAdminGoodsDetail: 관리자 상품 상세 조회 */
		SELECT GOODS_ID
		     , GOODS_DIV_CD
		     , GOODS_STAT_CD
		     , GOODS_NM
		     , GOODS_GROUP_ID
		     , GOODS_MERCH_ID
		     , SUPPLY_AMT
		     , SALE_AMT
		     , SHOW_YN
		     , ERP_SUPPLY_AMT
		     , ERP_COST_AMT
		     , ERP_STYLE_CD
		     , ERP_COLOR_CD
		     , ERP_MERCH_CD
		  FROM GOODS_BASE
		 WHERE GOODS_ID = #{goodsId}
	</select>

	<insert id="insertAdminGoods">
		/* GoodsMapper.insertAdminGoods: 관리자 상품 등록 */
		INSERT INTO GOODS_BASE (
		       GOODS_ID
		     , BRAND_NO
		     , GOODS_DIV_CD
		     , GOODS_STAT_CD
		     , GOODS_NM
		     , GOODS_GROUP_ID
		     , GOODS_MERCH_ID
		     , SUPPLY_AMT
		     , SALE_AMT
		     , SHOW_YN
		     , ERP_SUPPLY_AMT
		     , ERP_COST_AMT
		     , ERP_STYLE_CD
		     , ERP_COLOR_CD
		     , ERP_MERCH_CD
		     , REG_NO
		     , UDT_NO
		) VALUES (
		       #{goodsId}
		     , #{brandNo}
		     , #{goodsDivCd}
		     , #{goodsStatCd}
		     , #{goodsNm}
		     , #{goodsGroupId}
		     , #{goodsMerchId}
		     , #{supplyAmt}
		     , #{saleAmt}
		     , #{showYn}
		     , #{erpSupplyAmt}
		     , #{erpCostAmt}
		     , #{erpStyleCd}
		     , #{erpColorCd}
		     , #{erpMerchCd}
		     , #{regNo}
		     , #{udtNo}
		)
	</insert>

	<update id="updateAdminGoods">
		/* GoodsMapper.updateAdminGoods: 관리자 상품 수정 */
		UPDATE GOODS_BASE
		   SET GOODS_DIV_CD = #{goodsDivCd}
		     , GOODS_STAT_CD = #{goodsStatCd}
		     , GOODS_NM = #{goodsNm}
		     , GOODS_GROUP_ID = #{goodsGroupId}
		     , GOODS_MERCH_ID = #{goodsMerchId}
		     , SUPPLY_AMT = #{supplyAmt}
		     , SALE_AMT = #{saleAmt}
		     , SHOW_YN = #{showYn}
		     , ERP_SUPPLY_AMT = #{erpSupplyAmt}
		     , ERP_COST_AMT = #{erpCostAmt}
		     , ERP_STYLE_CD = #{erpStyleCd}
		     , ERP_COLOR_CD = #{erpColorCd}
		     , ERP_MERCH_CD = #{erpMerchCd}
		     , UDT_NO = #{udtNo}
		     , UDT_DT = NOW()
		 WHERE GOODS_ID = #{goodsId}
	</update>

	<select id="getCategoryList" resultType="com.xodud1202.springbackend.domain.admin.category.CategoryVO">
		/* GoodsMapper.getCategoryList: 카테고리 목록 조회 */
		SELECT CATEGORY_ID
		     , PARENT_CATEGORY_ID
		     , CATEGORY_LEVEL
		     , CATEGORY_NM
		     , DISP_ORD
		     , SHOW_YN
		  FROM CATEGORY
		 WHERE SHOW_YN = 'Y'
		<if test="categoryLevel != null">
		   AND CATEGORY_LEVEL = #{categoryLevel}
		</if>
		<if test="parentCategoryId != null and parentCategoryId != ''">
		   AND PARENT_CATEGORY_ID = #{parentCategoryId}
		</if>
		 ORDER BY DISP_ORD ASC, CATEGORY_ID ASC
	</select>

	<select id="getAdminCategoryTreeList" resultType="com.xodud1202.springbackend.domain.admin.category.CategoryVO">
		/* GoodsMapper.getAdminCategoryTreeList: 관리자 카테고리 트리 목록 조회 */
		SELECT C1.CATEGORY_ID
		     , C1.PARENT_CATEGORY_ID
		     , C1.CATEGORY_LEVEL
		     , C1.CATEGORY_NM
		     , C1.DISP_ORD
		     , C1.SHOW_YN
		     , (
		        SELECT COUNT(1)
		          FROM CATEGORY C2
		         WHERE C2.PARENT_CATEGORY_ID = C1.CATEGORY_ID
		       ) AS CHILD_COUNT
		  FROM CATEGORY C1
		 ORDER BY C1.CATEGORY_LEVEL ASC, C1.DISP_ORD ASC, C1.CATEGORY_ID ASC
	</select>

	<select id="getAdminCategoryDetail" resultType="com.xodud1202.springbackend.domain.admin.category.CategoryVO">
		/* GoodsMapper.getAdminCategoryDetail: 관리자 카테고리 상세 조회 */
		SELECT CATEGORY_ID
		     , PARENT_CATEGORY_ID
		     , CATEGORY_LEVEL
		     , CATEGORY_NM
		     , DISP_ORD
		     , SHOW_YN
		  FROM CATEGORY
		 WHERE CATEGORY_ID = #{categoryId}
	</select>

	<select id="getAdminCategoryMaxDispOrd" resultType="int">
		/* GoodsMapper.getAdminCategoryMaxDispOrd: 관리자 카테고리 정렬 순서 최대값 조회 */
		SELECT COALESCE(MAX(DISP_ORD), 0)
		  FROM CATEGORY
		 WHERE PARENT_CATEGORY_ID = #{parentCategoryId}
	</select>

	<select id="getAdminCategoryMaxId" resultType="string">
		/* GoodsMapper.getAdminCategoryMaxId: 관리자 카테고리 최대 코드 조회 */
		SELECT MAX(CATEGORY_ID)
		  FROM CATEGORY
		 WHERE PARENT_CATEGORY_ID = #{parentCategoryId}
	</select>

	<insert id="insertAdminCategory">
		/* GoodsMapper.insertAdminCategory: 관리자 카테고리 등록 */
		INSERT INTO CATEGORY (
		       CATEGORY_ID
		     , PARENT_CATEGORY_ID
		     , CATEGORY_LEVEL
		     , CATEGORY_NM
		     , DISP_ORD
		     , SHOW_YN
		     , REG_NO
		     , UDT_NO
		) VALUES (
		       #{categoryId}
		     , #{parentCategoryId}
		     , #{categoryLevel}
		     , #{categoryNm}
		     , #{dispOrd}
		     , #{showYn}
		     , #{regNo}
		     , #{udtNo}
		)
	</insert>

	<update id="updateAdminCategory">
		/* GoodsMapper.updateAdminCategory: 관리자 카테고리 수정 */
		UPDATE CATEGORY
		   SET CATEGORY_NM = #{categoryNm}
		     , DISP_ORD = #{dispOrd}
		     , SHOW_YN = #{showYn}
		     , UDT_NO = #{udtNo}
		     , UDT_DT = NOW()
		 WHERE CATEGORY_ID = #{categoryId}
	</update>

	<delete id="deleteAdminCategory">
		/* GoodsMapper.deleteAdminCategory: 관리자 카테고리 삭제 처리 */
		DELETE
		  FROM CATEGORY
		 WHERE CATEGORY_ID = #{categoryId}
	</delete>

	<select id="countAdminCategoryChildren" resultType="int">
		/* GoodsMapper.countAdminCategoryChildren: 관리자 카테고리 하위 건수 조회 */
		SELECT COUNT(1)
		  FROM CATEGORY
		 WHERE PARENT_CATEGORY_ID = #{categoryId}
	</select>

	<select id="countAdminCategoryById" resultType="int">
		/* GoodsMapper.countAdminCategoryById: 관리자 카테고리 중복 건수 조회 */
		SELECT COUNT(1)
		  FROM CATEGORY
		 WHERE CATEGORY_ID = #{categoryId}
	</select>

	<select id="countAdminCategoryGoods" resultType="int">
		/* GoodsMapper.countAdminCategoryGoods: 관리자 카테고리 상품 사용 건수 조회 */
		SELECT COUNT(1)
		  FROM CATEGORY_GOODS
		 WHERE CATEGORY_ID = #{categoryId}
	</select>

	<select id="getAdminCategoryGoodsList" resultType="com.xodud1202.springbackend.domain.admin.category.CategoryGoodsVO">
		/* GoodsMapper.getAdminCategoryGoodsList: 카테고리별 상품 목록 조회 */
		SELECT CG.CATEGORY_ID
		     , CG.GOODS_ID
		     , CG.DISP_ORD
		     , GB.ERP_STYLE_CD
		     , GB.GOODS_NM
		     , GB.GOODS_STAT_CD
		     , FN_GET_CODE_NM('GOODS_STAT', GB.GOODS_STAT_CD) AS GOODS_STAT_NM
		     , GB.GOODS_DIV_CD
		     , FN_GET_CODE_NM('GOODS_DIV', GB.GOODS_DIV_CD) AS GOODS_DIV_NM
		     , (
		         SELECT GI.IMG_PATH
		           FROM GOODS_IMG GI
		          WHERE GI.GOODS_ID = GB.GOODS_ID
		          ORDER BY GI.DISP_ORD ASC, GI.IMG_NO ASC
		          LIMIT 1
		       ) AS IMG_PATH
		  FROM CATEGORY_GOODS CG
		  JOIN GOODS_BASE GB
		    ON GB.GOODS_ID = CG.GOODS_ID
		 WHERE CG.CATEGORY_ID = #{categoryId}
		 ORDER BY CG.DISP_ORD ASC, CG.GOODS_ID ASC
	</select>

	
	<select id="countShopCategoryGoods" resultType="int">
		/* GoodsMapper.countShopCategoryGoods: 쇼핑몰 카테고리 화면 상품 건수 조회 */
		SELECT COUNT(1)
		  FROM CATEGORY_GOODS CG
		  JOIN CATEGORY C
		    ON C.CATEGORY_ID = CG.CATEGORY_ID
		   AND C.SHOW_YN = 'Y'
		  JOIN GOODS_BASE GB
		    ON GB.GOODS_ID = CG.GOODS_ID
		   AND GB.SHOW_YN = 'Y'
		   AND GB.GOODS_STAT_CD = 'GOODS_STAT_02'
		   AND GB.SALE_AMT >= 990
		 WHERE CG.CATEGORY_ID = #{categoryId}
	</select>

	<select id="getShopCategoryGoodsList" resultType="com.xodud1202.springbackend.domain.shop.category.ShopCategoryGoodsItemVO">
		/* GoodsMapper.getShopCategoryGoodsList: 쇼핑몰 카테고리 화면 상품 목록 페이징 조회 */
		SELECT CG.CATEGORY_ID
		     , CG.GOODS_ID
		     , GB.GOODS_NM
		     , BB.BRAND_NM
		     , GB.SUPPLY_AMT
		     , GB.SALE_AMT
		     , (
		         SELECT GI.IMG_PATH
		           FROM GOODS_IMG GI
		          WHERE GI.GOODS_ID = CG.GOODS_ID
		          ORDER BY GI.DISP_ORD ASC, GI.IMG_NO ASC
		          LIMIT 1
		       ) AS IMG_PATH
		     , (
		         SELECT GI.IMG_PATH
		           FROM GOODS_IMG GI
		          WHERE GI.GOODS_ID = CG.GOODS_ID
		          ORDER BY GI.DISP_ORD ASC, GI.IMG_NO ASC
		          LIMIT 1 OFFSET 1
		       ) AS SECONDARY_IMG_PATH
		     , CG.DISP_ORD
		  FROM CATEGORY_GOODS CG
		  JOIN CATEGORY C
		    ON C.CATEGORY_ID = CG.CATEGORY_ID
		   AND C.SHOW_YN = 'Y'
		  JOIN GOODS_BASE GB
		    ON GB.GOODS_ID = CG.GOODS_ID
		   AND GB.SHOW_YN = 'Y'
		   AND GB.GOODS_STAT_CD = 'GOODS_STAT_02'
		   AND GB.SALE_AMT >= 990
		  LEFT JOIN BRAND_BASE BB
		    ON BB.BRAND_NO = GB.BRAND_NO
		 WHERE CG.CATEGORY_ID = #{categoryId}
		 ORDER BY CG.DISP_ORD ASC, CG.GOODS_ID ASC
		 LIMIT #{pageSize} OFFSET #{offset}
	</select>

	<select id="getShopGoodsBasic" resultType="com.xodud1202.springbackend.domain.shop.goods.ShopGoodsBasicVO">
		/* GoodsMapper.getShopGoodsBasic: 쇼핑몰 상품상세 기본 상품 정보 조회 */
		SELECT GB.GOODS_ID
		     , GB.GOODS_NM
		     , GB.GOODS_GROUP_ID
		     , GB.BRAND_NO
		     , BB.BRAND_NM
		     , BB.BRAND_LOGO_PATH
		     , BB.BRAND_NOTI
		     , GB.ERP_COLOR_CD
		     , GC.COLOR_NM
		     , GC.COLOR_RGB
		     , GB.SUPPLY_AMT
		     , GB.SALE_AMT
		     , GB.SHOW_YN
		     , GB.GOODS_STAT_CD
		  FROM GOODS_BASE GB
		  LEFT JOIN BRAND_BASE BB
		    ON BB.BRAND_NO = GB.BRAND_NO
		  LEFT JOIN GOODS_COLOR GC
		    ON GC.ERP_COLOR_CD = GB.ERP_COLOR_CD
		 WHERE GB.GOODS_ID = #{goodsId}
		   AND GB.SHOW_YN = 'Y'
		   AND GB.GOODS_STAT_CD = 'GOODS_STAT_02'
		 LIMIT 1
	</select>

	<select id="getShopGoodsImageList" resultType="com.xodud1202.springbackend.domain.shop.goods.ShopGoodsImageVO">
		/* GoodsMapper.getShopGoodsImageList: 쇼핑몰 상품상세 이미지 목록 조회 */
		SELECT IMG_NO
		     , GOODS_ID
		     , DISP_ORD
		     , IMG_PATH
		  FROM GOODS_IMG
		 WHERE GOODS_ID = #{goodsId}
		 ORDER BY DISP_ORD ASC, IMG_NO ASC
	</select>

	<select id="getShopGoodsSizeList" resultType="com.xodud1202.springbackend.domain.shop.goods.ShopGoodsSizeItemVO">
		/* GoodsMapper.getShopGoodsSizeList: 쇼핑몰 상품상세 사이즈/재고 목록 조회 */
		SELECT GOODS_ID
		     , SIZE_ID
		     , STOCK_QTY
		     , ADD_AMT
		     , DISP_ORD
		  FROM GOODS_SIZE
		 WHERE GOODS_ID = #{goodsId}
		   AND DEL_YN = 'N'
		 ORDER BY DISP_ORD ASC, SIZE_ID ASC
	</select>

	<select id="getShopGoodsGroupItemList" resultType="com.xodud1202.springbackend.domain.shop.goods.ShopGoodsGroupItemVO">
		/* GoodsMapper.getShopGoodsGroupItemList: 쇼핑몰 상품상세 동일 그룹 상품 목록 조회 */
		SELECT GB.GOODS_ID
		     , GB.ERP_COLOR_CD
		     , GC.COLOR_NM
		     , GC.COLOR_RGB
		     , (
		         SELECT GI.IMG_PATH
		           FROM GOODS_IMG GI
		          WHERE GI.GOODS_ID = GB.GOODS_ID
		          ORDER BY GI.DISP_ORD ASC, GI.IMG_NO ASC
		          LIMIT 1
		       ) AS FIRST_IMG_PATH
		  FROM GOODS_BASE GB
		  LEFT JOIN GOODS_COLOR GC
		    ON GC.ERP_COLOR_CD = GB.ERP_COLOR_CD
		 WHERE GB.GOODS_GROUP_ID = #{goodsGroupId}
		   AND GB.SHOW_YN = 'Y'
		   AND GB.GOODS_STAT_CD = 'GOODS_STAT_02'
		 ORDER BY GB.GOODS_ID ASC
	</select>

	<select id="getShopGoodsDescItemList" resultType="com.xodud1202.springbackend.domain.shop.goods.ShopGoodsDescItemVO">
		/* GoodsMapper.getShopGoodsDescItemList: 쇼핑몰 상품상세 기기별 설명 목록 조회 */
		SELECT GOODS_ID
		     , DEVICE_GB_CD
		     , GOODS_DESC
		  FROM GOODS_DESC
		 WHERE GOODS_ID = #{goodsId}
		 ORDER BY DEVICE_GB_CD ASC
	</select>

	<select id="countShopWishList" resultType="int">
		/* GoodsMapper.countShopWishList: 쇼핑몰 상품 위시리스트 등록 여부 건수 조회 */
		SELECT COUNT(1)
		  FROM WISH_LIST
		 WHERE CUST_NO = #{custNo}
		   AND GOODS_ID = #{goodsId}
	</select>

	<select id="countShopMypageWishGoods" resultType="int">
		/* GoodsMapper.countShopMypageWishGoods: 쇼핑몰 마이페이지 위시리스트 전체 건수 조회 */
		SELECT COUNT(1)
		  FROM WISH_LIST WL
		  JOIN GOODS_BASE GB
		    ON GB.GOODS_ID = WL.GOODS_ID
		   AND GB.SHOW_YN = 'Y'
		   AND GB.GOODS_STAT_CD = 'GOODS_STAT_02'
		 WHERE WL.CUST_NO = #{custNo}
	</select>

	<select id="getShopMypageWishGoodsList" resultType="com.xodud1202.springbackend.domain.shop.mypage.ShopMypageWishGoodsItemVO">
		/* GoodsMapper.getShopMypageWishGoodsList: 쇼핑몰 마이페이지 위시리스트 목록 페이징 조회 */
		SELECT WL.CUST_NO
		     , WL.GOODS_ID
		     , GB.GOODS_NM
		     , GB.SALE_AMT
		     , (
		         SELECT GI.IMG_PATH
		           FROM GOODS_IMG GI
		          WHERE GI.GOODS_ID = WL.GOODS_ID
		          ORDER BY GI.DISP_ORD ASC, GI.IMG_NO ASC
		          LIMIT 1
		       ) AS IMG_PATH
		  FROM WISH_LIST WL
		  JOIN GOODS_BASE GB
		    ON GB.GOODS_ID = WL.GOODS_ID
		   AND GB.SHOW_YN = 'Y'
		   AND GB.GOODS_STAT_CD = 'GOODS_STAT_02'
		 WHERE WL.CUST_NO = #{custNo}
		 ORDER BY WL.REG_DT DESC, WL.GOODS_ID DESC
		 LIMIT #{pageSize} OFFSET #{offset}
	</select>

	<select id="countShopMypageOwnedCoupon" resultType="int">
		/* GoodsMapper.countShopMypageOwnedCoupon: 쇼핑몰 마이페이지 쿠폰함 사용 가능 보유 쿠폰 전체 건수 조회 */
		SELECT COUNT(*)
		  FROM CUSTOMER_COUPON CC
		  JOIN COUPON_BASE CB
		    ON CB.CPN_NO = CC.CPN_NO
		 WHERE CC.CUST_NO = #{custNo}
		   AND IFNULL(CC.CPN_USE_YN, 'N') = 'N'
		   AND IFNULL(CB.DEL_YN, 'N') = 'N'
		   AND CB.CPN_STAT_CD = 'CPN_STAT_02'
		   AND NOW() &gt;= CC.CPN_USABLE_START_DT
		   AND NOW() &lt;= CC.CPN_USABLE_END_DT
	</select>

	<select id="getShopMypageOwnedCouponPageList" resultType="com.xodud1202.springbackend.domain.shop.mypage.ShopMypageOwnedCouponVO">
		/* GoodsMapper.getShopMypageOwnedCouponPageList: 쇼핑몰 마이페이지 쿠폰함 사용 가능 보유 쿠폰 목록 페이징 조회 */
		SELECT CC.CUST_CPN_NO
		     , CC.CPN_NO
		     , CB.CPN_NM
		     , CB.CPN_GB_CD
		     , CCG.CD_NM AS CPN_GB_NM
		     , CB.CPN_DC_GB_CD
		     , CB.CPN_DC_VAL
		     , CB.CPN_TARGET_CD
		     , CASE
		         WHEN CC.CPN_USABLE_START_DT IS NULL OR CC.CPN_USABLE_START_DT = '0000-00-00 00:00:00' THEN NULL
		         ELSE CC.CPN_USABLE_START_DT
		       END AS CPN_USABLE_START_DT
		     , CASE
		         WHEN CC.CPN_USABLE_END_DT IS NULL OR CC.CPN_USABLE_END_DT = '0000-00-00 00:00:00' THEN NULL
		         ELSE CC.CPN_USABLE_END_DT
		       END AS CPN_USABLE_END_DT
		  FROM CUSTOMER_COUPON CC
		  JOIN COUPON_BASE CB
		    ON CB.CPN_NO = CC.CPN_NO
		  LEFT JOIN COMMON_CODE CCG
		    ON CCG.GRP_CD = 'CPN_GB'
		   AND CCG.CD = CB.CPN_GB_CD
		 WHERE CC.CUST_NO = #{custNo}
		   AND IFNULL(CC.CPN_USE_YN, 'N') = 'N'
		   AND IFNULL(CB.DEL_YN, 'N') = 'N'
		   AND CB.CPN_STAT_CD = 'CPN_STAT_02'
		   AND NOW() &gt;= CC.CPN_USABLE_START_DT
		   AND NOW() &lt;= CC.CPN_USABLE_END_DT
		 ORDER BY CC.CUST_CPN_NO DESC
		 LIMIT #{pageSize} OFFSET #{offset}
	</select>

	<select id="countShopMypageDownloadableCoupon" resultType="int">
		/* GoodsMapper.countShopMypageDownloadableCoupon: 쇼핑몰 마이페이지 현재 다운로드 가능 쿠폰 전체 건수 조회 */
		SELECT COUNT(*)
		  FROM COUPON_BASE CB
		 WHERE IFNULL(CB.DEL_YN, 'N') = 'N'
		   AND CB.CPN_STAT_CD = 'CPN_STAT_02'
		   AND IFNULL(CB.CPN_DOWN_ABLE_YN, 'Y') = 'Y'
		   AND NOW() &gt;= IFNULL(NULLIF(CB.CPN_DOWN_START_DT, '0000-00-00 00:00:00'), '1000-01-01 00:00:00')
		   AND NOW() &lt;= IFNULL(NULLIF(CB.CPN_DOWN_END_DT, '0000-00-00 00:00:00'), '9999-12-31 23:59:59')
	</select>

	<select id="getShopMypageDownloadableCouponPageList" resultType="com.xodud1202.springbackend.domain.shop.mypage.ShopMypageDownloadableCouponVO">
		/* GoodsMapper.getShopMypageDownloadableCouponPageList: 쇼핑몰 마이페이지 현재 다운로드 가능 쿠폰 목록 페이징 조회 */
		SELECT CB.CPN_NO
		     , CB.CPN_NM
		     , CB.CPN_GB_CD
		     , CCG.CD_NM AS CPN_GB_NM
		     , CB.CPN_DC_GB_CD
		     , CB.CPN_DC_VAL
		     , CB.CPN_TARGET_CD
		     , CASE
		         WHEN CB.CPN_DOWN_START_DT IS NULL OR CB.CPN_DOWN_START_DT = '0000-00-00 00:00:00' THEN NULL
		         ELSE CB.CPN_DOWN_START_DT
		       END AS CPN_DOWN_START_DT
		     , CASE
		         WHEN CB.CPN_DOWN_END_DT IS NULL OR CB.CPN_DOWN_END_DT = '0000-00-00 00:00:00' THEN NULL
		         ELSE CB.CPN_DOWN_END_DT
		       END AS CPN_DOWN_END_DT
		     , CB.CPN_USE_DT_GB
		     , CB.CPN_USABLE_DT
		     , CASE
		         WHEN CB.CPN_USE_DT_GB = 'CPN_USE_DT_02'
		         THEN NULLIF(CB.CPN_USE_START_DT, '0000-00-00 00:00:00')
		         ELSE NULL
		       END AS CPN_USE_START_DT
		     , CASE
		         WHEN CB.CPN_USE_DT_GB = 'CPN_USE_DT_02'
		         THEN NULLIF(CB.CPN_USE_END_DT, '0000-00-00 00:00:00')
		         ELSE NULL
		       END AS CPN_USE_END_DT
		  FROM COUPON_BASE CB
		  LEFT JOIN COMMON_CODE CCG
		    ON CCG.GRP_CD = 'CPN_GB'
		   AND CCG.CD = CB.CPN_GB_CD
		 WHERE IFNULL(CB.DEL_YN, 'N') = 'N'
		   AND CB.CPN_STAT_CD = 'CPN_STAT_02'
		   AND IFNULL(CB.CPN_DOWN_ABLE_YN, 'Y') = 'Y'
		   AND NOW() &gt;= IFNULL(NULLIF(CB.CPN_DOWN_START_DT, '0000-00-00 00:00:00'), '1000-01-01 00:00:00')
		   AND NOW() &lt;= IFNULL(NULLIF(CB.CPN_DOWN_END_DT, '0000-00-00 00:00:00'), '9999-12-31 23:59:59')
		 ORDER BY CB.CPN_NO DESC
		 LIMIT #{pageSize} OFFSET #{offset}
	</select>

	<select id="getShopMypageDownloadableCouponList" resultType="com.xodud1202.springbackend.domain.shop.mypage.ShopMypageDownloadableCouponVO">
		/* GoodsMapper.getShopMypageDownloadableCouponList: 쇼핑몰 마이페이지 현재 다운로드 가능 쿠폰 목록 조회 */
		SELECT CB.CPN_NO
		     , CB.CPN_NM
		     , CB.CPN_GB_CD
		     , CCG.CD_NM AS CPN_GB_NM
		     , CB.CPN_DC_GB_CD
		     , CB.CPN_DC_VAL
		     , CB.CPN_TARGET_CD
		     , CASE
		         WHEN CB.CPN_DOWN_START_DT IS NULL OR CB.CPN_DOWN_START_DT = '0000-00-00 00:00:00' THEN NULL
		         ELSE CB.CPN_DOWN_START_DT
		       END AS CPN_DOWN_START_DT
		     , CASE
		         WHEN CB.CPN_DOWN_END_DT IS NULL OR CB.CPN_DOWN_END_DT = '0000-00-00 00:00:00' THEN NULL
		         ELSE CB.CPN_DOWN_END_DT
		       END AS CPN_DOWN_END_DT
		     , CB.CPN_USE_DT_GB
		     , CB.CPN_USABLE_DT
		     , CASE
		         WHEN CB.CPN_USE_DT_GB = 'CPN_USE_DT_02'
		         THEN NULLIF(CB.CPN_USE_START_DT, '0000-00-00 00:00:00')
		         ELSE NULL
		       END AS CPN_USE_START_DT
		     , CASE
		         WHEN CB.CPN_USE_DT_GB = 'CPN_USE_DT_02'
		         THEN NULLIF(CB.CPN_USE_END_DT, '0000-00-00 00:00:00')
		         ELSE NULL
		       END AS CPN_USE_END_DT
		  FROM COUPON_BASE CB
		  LEFT JOIN COMMON_CODE CCG
		    ON CCG.GRP_CD = 'CPN_GB'
		   AND CCG.CD = CB.CPN_GB_CD
		 WHERE IFNULL(CB.DEL_YN, 'N') = 'N'
		   AND CB.CPN_STAT_CD = 'CPN_STAT_02'
		   AND IFNULL(CB.CPN_DOWN_ABLE_YN, 'Y') = 'Y'
		   AND NOW() &gt;= IFNULL(NULLIF(CB.CPN_DOWN_START_DT, '0000-00-00 00:00:00'), '1000-01-01 00:00:00')
		   AND NOW() &lt;= IFNULL(NULLIF(CB.CPN_DOWN_END_DT, '0000-00-00 00:00:00'), '9999-12-31 23:59:59')
		 ORDER BY CB.CPN_NO DESC
	</select>

	<select id="countShopMypageCouponUnavailableGoods" resultType="int">
		/* GoodsMapper.countShopMypageCouponUnavailableGoods: 쇼핑몰 마이페이지 쿠폰 사용 불가 상품 전체 건수 조회 */
		SELECT COUNT(*)
		  FROM (
		        SELECT DISTINCT GB.GOODS_ID
		          FROM GOODS_BASE GB
		          <choose>
		            <when test="cpnTargetCd == 'CPN_TARGET_01' or cpnTargetCd == 'CPN_TARGET_99'">
		              WHERE GB.GOODS_ID IN
		              <foreach collection="targetValueList" item="targetValue" open="(" separator="," close=")">
		                #{targetValue}
		              </foreach>
		            </when>
		            <when test="cpnTargetCd == 'CPN_TARGET_04'">
		              WHERE CAST(GB.BRAND_NO AS CHAR) IN
		              <foreach collection="targetValueList" item="targetValue" open="(" separator="," close=")">
		                #{targetValue}
		              </foreach>
		            </when>
		            <when test="cpnTargetCd == 'CPN_TARGET_03'">
		              JOIN CATEGORY_GOODS CG
		                ON CG.GOODS_ID = GB.GOODS_ID
		              WHERE CG.CATEGORY_ID IN
		              <foreach collection="targetValueList" item="targetValue" open="(" separator="," close=")">
		                #{targetValue}
		              </foreach>
		            </when>
		            <when test="cpnTargetCd == 'CPN_TARGET_02'">
		              JOIN EXHIBITION_TAB_GOODS ETG
		                ON ETG.GOODS_ID = GB.GOODS_ID
		               AND ETG.VIEW_YN = 'Y'
		              WHERE CAST(ETG.EXHIBITION_TAB_NO AS CHAR) IN
		              <foreach collection="targetValueList" item="targetValue" open="(" separator="," close=")">
		                #{targetValue}
		              </foreach>
		            </when>
		            <otherwise>
		              WHERE 1 = 0
		            </otherwise>
		          </choose>
		           AND GB.SHOW_YN = 'Y'
		           AND GB.GOODS_STAT_CD = 'GOODS_STAT_02'
		       ) TEMP
	</select>

	<select id="getShopMypageCouponUnavailableGoodsList" resultType="com.xodud1202.springbackend.domain.shop.mypage.ShopMypageCouponUnavailableGoodsVO">
		/* GoodsMapper.getShopMypageCouponUnavailableGoodsList: 쇼핑몰 마이페이지 쿠폰 사용 불가 상품 목록 조회 */
		SELECT DISTINCT GB.GOODS_ID
		     , GB.GOODS_NM
		  FROM GOODS_BASE GB
		  <choose>
		    <when test="cpnTargetCd == 'CPN_TARGET_01' or cpnTargetCd == 'CPN_TARGET_99'">
		      WHERE GB.GOODS_ID IN
		      <foreach collection="targetValueList" item="targetValue" open="(" separator="," close=")">
		        #{targetValue}
		      </foreach>
		    </when>
		    <when test="cpnTargetCd == 'CPN_TARGET_04'">
		      WHERE CAST(GB.BRAND_NO AS CHAR) IN
		      <foreach collection="targetValueList" item="targetValue" open="(" separator="," close=")">
		        #{targetValue}
		      </foreach>
		    </when>
		    <when test="cpnTargetCd == 'CPN_TARGET_03'">
		      JOIN CATEGORY_GOODS CG
		        ON CG.GOODS_ID = GB.GOODS_ID
		      WHERE CG.CATEGORY_ID IN
		      <foreach collection="targetValueList" item="targetValue" open="(" separator="," close=")">
		        #{targetValue}
		      </foreach>
		    </when>
		    <when test="cpnTargetCd == 'CPN_TARGET_02'">
		      JOIN EXHIBITION_TAB_GOODS ETG
		        ON ETG.GOODS_ID = GB.GOODS_ID
		       AND ETG.VIEW_YN = 'Y'
		      WHERE CAST(ETG.EXHIBITION_TAB_NO AS CHAR) IN
		      <foreach collection="targetValueList" item="targetValue" open="(" separator="," close=")">
		        #{targetValue}
		      </foreach>
		    </when>
		    <otherwise>
		      WHERE 1 = 0
		    </otherwise>
		  </choose>
		   AND GB.SHOW_YN = 'Y'
		   AND GB.GOODS_STAT_CD = 'GOODS_STAT_02'
		 ORDER BY GB.GOODS_ID ASC
		 LIMIT #{limit}
	</select>

	<select id="getShopCartItemList" resultType="com.xodud1202.springbackend.domain.shop.cart.ShopCartItemVO">
		/* GoodsMapper.getShopCartItemList: 쇼핑몰 장바구니 목록 조회 */
		SELECT C.CUST_NO
		     , C.GOODS_ID
		     , GB.BRAND_NO
		     , GB.GOODS_NM
		     , C.SIZE_ID
		     , C.QTY
		     , GB.SUPPLY_AMT
		     , GB.SALE_AMT
		     , (
		         SELECT GI.IMG_PATH
		           FROM GOODS_IMG GI
		          WHERE GI.GOODS_ID = C.GOODS_ID
		          ORDER BY GI.DISP_ORD ASC, GI.IMG_NO ASC
		          LIMIT 1
		       ) AS IMG_PATH
		  FROM CART C
		  JOIN GOODS_BASE GB
		    ON GB.GOODS_ID = C.GOODS_ID
		 WHERE C.CUST_NO = #{custNo}
		 ORDER BY C.REG_DT DESC, C.GOODS_ID DESC, C.SIZE_ID ASC
	</select>

	<insert id="insertShopWishList">
		/* GoodsMapper.insertShopWishList: 쇼핑몰 상품 위시리스트 등록 */
		INSERT INTO WISH_LIST (
		       CUST_NO
		     , GOODS_ID
		     , REG_NO
		) VALUES (
		       #{custNo}
		     , #{goodsId}
		     , #{regNo}
		)
	</insert>

	<delete id="deleteShopWishList">
		/* GoodsMapper.deleteShopWishList: 쇼핑몰 상품 위시리스트 삭제 */
		DELETE
		  FROM WISH_LIST
		 WHERE CUST_NO = #{custNo}
		   AND GOODS_ID = #{goodsId}
	</delete>

	<select id="countShopCart" resultType="int">
		/* GoodsMapper.countShopCart: 쇼핑몰 장바구니 등록 여부 건수 조회 */
		SELECT COUNT(1)
		  FROM CART
		 WHERE CUST_NO = #{custNo}
		   AND GOODS_ID = #{goodsId}
		   AND SIZE_ID = #{sizeId}
	</select>

	<insert id="insertShopCart">
		/* GoodsMapper.insertShopCart: 쇼핑몰 장바구니 등록 */
		INSERT INTO CART (
		       CUST_NO
		     , GOODS_ID
		     , SIZE_ID
		     , QTY
		     , EXHIBITION_NO
		     , REG_NO
		     , UDT_NO
		) VALUES (
		       #{custNo}
		     , #{goodsId}
		     , #{sizeId}
		     , #{qty}
		     , NULL
		     , #{regNo}
		     , #{udtNo}
		)
	</insert>

	<update id="addShopCartQty">
		/* GoodsMapper.addShopCartQty: 쇼핑몰 장바구니 수량 추가 */
		UPDATE CART
		   SET QTY = QTY + #{qty}
		     , UDT_NO = #{udtNo}
		     , UDT_DT = NOW()
		 WHERE CUST_NO = #{custNo}
		   AND GOODS_ID = #{goodsId}
		   AND SIZE_ID = #{sizeId}
	</update>

	<select id="getShopCartQty" resultType="int">
		/* GoodsMapper.getShopCartQty: 쇼핑몰 장바구니 현재 수량 조회 */
		SELECT QTY
		  FROM CART
		 WHERE CUST_NO = #{custNo}
		   AND GOODS_ID = #{goodsId}
		   AND SIZE_ID = #{sizeId}
		 LIMIT 1
	</select>

	<update id="updateShopCartOption">
		/* GoodsMapper.updateShopCartOption: 쇼핑몰 장바구니 옵션(사이즈/수량) 변경 */
		UPDATE CART
		   SET SIZE_ID = #{targetSizeId}
		     , QTY = #{targetQty}
		     , UDT_NO = #{udtNo}
		     , UDT_DT = NOW()
		 WHERE CUST_NO = #{custNo}
		   AND GOODS_ID = #{goodsId}
		   AND SIZE_ID = #{sizeId}
	</update>

	<update id="updateShopCartQty">
		/* GoodsMapper.updateShopCartQty: 쇼핑몰 장바구니 수량 수정 */
		UPDATE CART
		   SET QTY = #{qty}
		     , UDT_NO = #{udtNo}
		     , UDT_DT = NOW()
		 WHERE CUST_NO = #{custNo}
		   AND GOODS_ID = #{goodsId}
		   AND SIZE_ID = #{sizeId}
	</update>

	<delete id="deleteShopCartItem">
		/* GoodsMapper.deleteShopCartItem: 쇼핑몰 장바구니 단건 삭제 */
		DELETE
		  FROM CART
		 WHERE CUST_NO = #{custNo}
		   AND GOODS_ID = #{goodsId}
		   AND SIZE_ID = #{sizeId}
	</delete>

	<delete id="deleteShopCartAll">
		/* GoodsMapper.deleteShopCartAll: 쇼핑몰 장바구니 전체 삭제 */
		DELETE
		  FROM CART
		 WHERE CUST_NO = #{custNo}
	</delete>

	<select id="getShopCartSiteInfo" resultType="com.xodud1202.springbackend.domain.shop.cart.ShopCartSiteInfoVO">
		/* GoodsMapper.getShopCartSiteInfo: 쇼핑몰 장바구니 사이트 배송 기준 정보 조회 */
		SELECT SITE_ID
		     , DELIVERY_FEE
		     , DELIVERY_FEE_LIMIT
		  FROM SITE_INFO
		 WHERE SITE_ID = #{siteId}
		 LIMIT 1
	</select>

	<select id="getShopGoodsSiteInfo" resultType="com.xodud1202.springbackend.domain.shop.goods.ShopGoodsSiteInfoVO">
		/* GoodsMapper.getShopGoodsSiteInfo: 쇼핑몰 상품상세 사이트 배송 기준 정보 조회 */
		SELECT SITE_ID
		     , SITE_NM
		     , DELIVERY_FEE
		     , DELIVERY_FEE_LIMIT
		  FROM SITE_INFO
		 WHERE SITE_ID = #{siteId}
		 LIMIT 1
	</select>

	<select id="getShopPointSaveRateByCustGradeCd" resultType="int">
		/* GoodsMapper.getShopPointSaveRateByCustGradeCd: 고객등급별 포인트 적립률 조회 */
		SELECT POINT_SAVE_RATE
		  FROM CUSTOMER_GRADE_BENEFIT
		 WHERE CUST_GRADE_CD = #{custGradeCd}
		 LIMIT 1
	</select>

	<select id="getShopGoodsCategoryIdList" resultType="java.lang.String">
		/* GoodsMapper.getShopGoodsCategoryIdList: 상품의 카테고리 코드 목록 조회 */
		SELECT CATEGORY_ID
		  FROM CATEGORY_GOODS
		 WHERE GOODS_ID = #{goodsId}
		 ORDER BY CATEGORY_ID ASC
	</select>

	<select id="getShopGoodsExhibitionTabNoList" resultType="java.lang.String">
		/* GoodsMapper.getShopGoodsExhibitionTabNoList: 상품의 기획전 탭 번호 목록 조회 */
		SELECT CAST(EXHIBITION_TAB_NO AS CHAR) AS EXHIBITION_TAB_NO
		  FROM EXHIBITION_TAB_GOODS
		 WHERE GOODS_ID = #{goodsId}
		   AND VIEW_YN = 'Y'
		 ORDER BY EXHIBITION_TAB_NO ASC
	</select>

	<select id="getShopActiveGoodsCouponList" resultType="com.xodud1202.springbackend.domain.shop.goods.ShopGoodsCouponVO">
		/* GoodsMapper.getShopActiveGoodsCouponList: 다운로드 가능한 상품쿠폰 목록 조회 */
		SELECT CB.CPN_NO
		     , CB.CPN_NM
		     , CB.CPN_STAT_CD
		     , CB.CPN_GB_CD
		     , CB.CPN_TARGET_CD
		     , CB.CPN_DC_GB_CD
		     , CB.CPN_DC_VAL
		     , CASE
		         WHEN CB.CPN_DOWN_START_DT IS NULL OR CB.CPN_DOWN_START_DT = '0000-00-00 00:00:00' THEN NULL
		         ELSE DATE_FORMAT(CB.CPN_DOWN_START_DT, '%Y-%m-%d %H:%i:%s')
		       END AS CPN_DOWN_START_DT
		     , CASE
		         WHEN CB.CPN_DOWN_END_DT IS NULL OR CB.CPN_DOWN_END_DT = '0000-00-00 00:00:00' THEN NULL
		         ELSE DATE_FORMAT(CB.CPN_DOWN_END_DT, '%Y-%m-%d %H:%i:%s')
		       END AS CPN_DOWN_END_DT
		     , CB.CPN_USE_DT_GB
		     , CB.CPN_USABLE_DT
		     , CASE
		         WHEN CB.CPN_USE_START_DT IS NULL OR CB.CPN_USE_START_DT = '0000-00-00 00:00:00' THEN NULL
		         ELSE DATE_FORMAT(CB.CPN_USE_START_DT, '%Y-%m-%d %H:%i:%s')
		       END AS CPN_USE_START_DT
		     , CASE
		         WHEN CB.CPN_USE_END_DT IS NULL OR CB.CPN_USE_END_DT = '0000-00-00 00:00:00' THEN NULL
		         ELSE DATE_FORMAT(CB.CPN_USE_END_DT, '%Y-%m-%d %H:%i:%s')
		       END AS CPN_USE_END_DT
		  FROM COUPON_BASE CB
		 WHERE IFNULL(CB.DEL_YN, 'N') = 'N'
		   AND CB.CPN_STAT_CD = 'CPN_STAT_02'
		   AND CB.CPN_GB_CD = 'CPN_GB_01'
		   AND IFNULL(CB.CPN_DOWN_ABLE_YN, 'Y') = 'Y'
		   AND NOW() &gt;= IFNULL(NULLIF(CB.CPN_DOWN_START_DT, '0000-00-00 00:00:00'), '1000-01-01 00:00:00')
		   AND NOW() &lt;= IFNULL(NULLIF(CB.CPN_DOWN_END_DT, '0000-00-00 00:00:00'), '9999-12-31 23:59:59')
		 ORDER BY CB.CPN_NO DESC
	</select>

	<select id="getShopCouponTargetList" resultType="com.xodud1202.springbackend.domain.shop.goods.ShopGoodsCouponTargetVO">
		/* GoodsMapper.getShopCouponTargetList: 상품쿠폰 적용/제외 대상 목록 조회 */
		SELECT CPN_NO
		     , TARGET_GB_CD
		     , TARGET_VALUE
		  FROM COUPON_TARGET
		 WHERE CPN_NO = #{cpnNo}
		 ORDER BY TARGET_GB_CD ASC, TARGET_VALUE ASC
	</select>

	<select id="getShopCustomerCouponList" resultType="com.xodud1202.springbackend.domain.shop.cart.ShopCartCustomerCouponVO">
		/* GoodsMapper.getShopCustomerCouponList: 고객의 현재 사용 가능한 보유 쿠폰 목록 조회 */
		SELECT CC.CUST_CPN_NO
		     , CC.CUST_NO
		     , CC.CPN_NO
		     , CB.CPN_NM
		     , CB.CPN_STAT_CD
		     , CB.CPN_GB_CD
		     , CB.CPN_TARGET_CD
		     , CB.CPN_DC_GB_CD
		     , CB.CPN_DC_VAL
		     , CC.CPN_USABLE_START_DT
		     , CC.CPN_USABLE_END_DT
		  FROM CUSTOMER_COUPON CC
		  JOIN COUPON_BASE CB
		    ON CB.CPN_NO = CC.CPN_NO
		 WHERE CC.CUST_NO = #{custNo}
		   AND IFNULL(CC.CPN_USE_YN, 'N') = 'N'
		   AND IFNULL(CB.DEL_YN, 'N') = 'N'
		   AND CB.CPN_STAT_CD = 'CPN_STAT_02'
		   AND CB.CPN_GB_CD IN ('CPN_GB_01', 'CPN_GB_03', 'CPN_GB_04')
		   AND NOW() &gt;= CC.CPN_USABLE_START_DT
		   AND NOW() &lt;= CC.CPN_USABLE_END_DT
		 ORDER BY CC.CUST_CPN_NO DESC
	</select>

	<insert id="insertCategoryGoods">
		/* GoodsMapper.insertCategoryGoods: 카테고리 상품 등록 */
		INSERT INTO CATEGORY_GOODS (
		       CATEGORY_ID
		     , GOODS_ID
		     , DISP_ORD
		     , REG_NO
		     , UDT_NO
		) VALUES (
		       #{categoryId}
		     , #{goodsId}
		     , #{dispOrd}
		     , #{regNo}
		     , #{udtNo}
		)
	</insert>

	<update id="updateCategoryGoodsDispOrd">
		/* GoodsMapper.updateCategoryGoodsDispOrd: 카테고리 상품 정렬 순서 수정 */
		UPDATE CATEGORY_GOODS
		   SET DISP_ORD = #{dispOrd}
		     , UDT_NO = #{udtNo}
		 WHERE CATEGORY_ID = #{categoryId}
		   AND GOODS_ID = #{goodsId}
	</update>

	<delete id="deleteCategoryGoods">
		/* GoodsMapper.deleteCategoryGoods: 카테고리 상품 삭제 */
		DELETE
		  FROM CATEGORY_GOODS
		 WHERE CATEGORY_ID = #{categoryId}
		   AND GOODS_ID = #{goodsId}
	</delete>

	<select id="countCategoryGoods" resultType="int">
		/* GoodsMapper.countCategoryGoods: 카테고리 상품 존재 여부 조회 */
		SELECT COUNT(1)
		  FROM CATEGORY_GOODS
		 WHERE CATEGORY_ID = #{categoryId}
		   AND GOODS_ID = #{goodsId}
	</select>

	<select id="countCategoryGoodsInChildren" resultType="int">
		/* GoodsMapper.countCategoryGoodsInChildren: 하위 카테고리 상품 존재 여부 조회 */
		SELECT COUNT(1)
		  FROM CATEGORY_GOODS CG
		  JOIN CATEGORY C
		    ON C.CATEGORY_ID = CG.CATEGORY_ID
		 WHERE C.PARENT_CATEGORY_ID = #{parentCategoryId}
		   AND CG.GOODS_ID = #{goodsId}
	</select>

	<select id="getCategoryChildren" resultType="com.xodud1202.springbackend.domain.admin.category.CategoryVO">
		/* GoodsMapper.getCategoryChildren: 카테고리 하위 목록 조회 */
		SELECT CATEGORY_ID
		     , PARENT_CATEGORY_ID
		     , CATEGORY_LEVEL
		     , CATEGORY_NM
		     , DISP_ORD
		     , SHOW_YN
		  FROM CATEGORY
		 WHERE PARENT_CATEGORY_ID = #{parentCategoryId}
		 ORDER BY DISP_ORD ASC, CATEGORY_ID ASC
	</select>

	<select id="getAdminGoodsCategoryList" resultType="com.xodud1202.springbackend.domain.admin.goods.GoodsCategoryVO">
		/* GoodsMapper.getAdminGoodsCategoryList: 관리자 상품 카테고리 목록 조회 */
		SELECT CG.GOODS_ID
		     , CG.CATEGORY_ID
		     , CG.DISP_ORD
		     , CASE C.CATEGORY_LEVEL
		       WHEN 1 THEN C.CATEGORY_ID
		       WHEN 2 THEN P1.CATEGORY_ID
		       WHEN 3 THEN P2.CATEGORY_ID
		       END AS LEVEL1_ID
		     , CASE C.CATEGORY_LEVEL
		       WHEN 1 THEN NULL
		       WHEN 2 THEN C.CATEGORY_ID
		       WHEN 3 THEN P1.CATEGORY_ID
		       END AS LEVEL2_ID
		     , CASE C.CATEGORY_LEVEL
		       WHEN 3 THEN C.CATEGORY_ID
		       ELSE NULL
		       END AS LEVEL3_ID
		  FROM CATEGORY_GOODS CG
		  JOIN CATEGORY C
		    ON C.CATEGORY_ID = CG.CATEGORY_ID
		  LEFT JOIN CATEGORY P1
		    ON P1.CATEGORY_ID = C.PARENT_CATEGORY_ID
		  LEFT JOIN CATEGORY P2
		    ON P2.CATEGORY_ID = P1.PARENT_CATEGORY_ID
		 WHERE CG.GOODS_ID = #{goodsId}
		   AND NOT EXISTS (
		       SELECT 1
		         FROM CATEGORY CHILD
		         JOIN CATEGORY_GOODS CHILD_CG
		           ON CHILD_CG.CATEGORY_ID = CHILD.CATEGORY_ID
		        WHERE CHILD.PARENT_CATEGORY_ID = CG.CATEGORY_ID
		          AND CHILD_CG.GOODS_ID = CG.GOODS_ID
		   )
		 ORDER BY CG.DISP_ORD ASC, CG.CATEGORY_ID ASC
	</select>

	<select id="countCategoryChildren" resultType="int">
		/* GoodsMapper.countCategoryChildren: 카테고리 하위 건수 조회 */
		SELECT COUNT(1)
		  FROM CATEGORY
		 WHERE PARENT_CATEGORY_ID = #{categoryId}
		   AND SHOW_YN = 'Y'
	</select>

	<delete id="deleteCategoryGoodsByGoodsId">
		/* GoodsMapper.deleteCategoryGoodsByGoodsId: 상품 기준 카테고리 상품 전체 삭제 */
		DELETE
		  FROM CATEGORY_GOODS
		 WHERE GOODS_ID = #{goodsId}
	</delete>

	<select id="getAdminGoodsSizeList" resultType="com.xodud1202.springbackend.domain.admin.goods.GoodsSizeVO">
		/* GoodsMapper.getAdminGoodsSizeList: 관리자 상품 사이즈 목록 조회 */
		SELECT GOODS_ID
		     , SIZE_ID
		     , STOCK_QTY
		     , ADD_AMT
		     , ERP_SYNC_YN
		     , ERP_SIZE_CD
		     , DISP_ORD
		     , DEL_YN
		  FROM GOODS_SIZE
		 WHERE GOODS_ID = #{goodsId}
		   AND DEL_YN = 'N'
		 ORDER BY DISP_ORD ASC, SIZE_ID ASC
	</select>

	<select id="getAdminGoodsSizeDetail" resultType="com.xodud1202.springbackend.domain.admin.goods.GoodsSizeVO">
		/* GoodsMapper.getAdminGoodsSizeDetail: 관리자 상품 사이즈 단건 조회 */
		SELECT GOODS_ID
		     , SIZE_ID
		     , STOCK_QTY
		     , ADD_AMT
		     , ERP_SYNC_YN
		     , ERP_SIZE_CD
		     , DISP_ORD
		     , DEL_YN
		  FROM GOODS_SIZE
		 WHERE GOODS_ID = #{goodsId}
		   AND SIZE_ID = #{sizeId}
	</select>

	<insert id="insertAdminGoodsSize">
		/* GoodsMapper.insertAdminGoodsSize: 관리자 상품 사이즈 등록 */
		INSERT INTO GOODS_SIZE (
		       GOODS_ID
		     , SIZE_ID
		     , STOCK_QTY
		     , ADD_AMT
		     , ERP_SYNC_YN
		     , ERP_SIZE_CD
		     , DISP_ORD
		     , DEL_YN
		     , REG_NO
		     , UDT_NO
		) VALUES (
		       #{goodsId}
		     , #{sizeId}
		     , #{stockQty}
		     , #{addAmt}
		     , #{erpSyncYn}
		     , #{erpSizeCd}
		     , #{dispOrd}
		     , #{delYn}
		     , #{regNo}
		     , #{udtNo}
		)
	</insert>

	<update id="updateAdminGoodsSize">
		/* GoodsMapper.updateAdminGoodsSize: 관리자 상품 사이즈 수정 */
		UPDATE GOODS_SIZE
		   SET SIZE_ID = #{sizeId}
		     , STOCK_QTY = #{stockQty}
		     , ADD_AMT = #{addAmt}
		     , ERP_SYNC_YN = #{erpSyncYn}
		     , DISP_ORD = #{dispOrd}
		     , UDT_NO = #{udtNo}
		     , UDT_DT = NOW()
		 WHERE GOODS_ID = #{goodsId}
		   AND SIZE_ID = #{originSizeId}
	</update>

	<update id="deleteAdminGoodsSize">
		/* GoodsMapper.deleteAdminGoodsSize: 관리자 상품 사이즈 삭제 */
		UPDATE GOODS_SIZE
		   SET DEL_YN = 'Y'
		     , UDT_NO = #{udtNo}
		     , UDT_DT = NOW()
		 WHERE GOODS_ID = #{goodsId}
		   AND SIZE_ID = #{sizeId}
	</update>

	<update id="updateAdminGoodsSizeOrder">
		/* GoodsMapper.updateAdminGoodsSizeOrder: 관리자 상품 사이즈 순서 저장 */
		UPDATE GOODS_SIZE
		   SET DISP_ORD = CASE SIZE_ID
		<foreach collection="orders" item="order">
			WHEN #{order.sizeId} THEN #{order.dispOrd}
		</foreach>
			END
		     , UDT_NO = #{udtNo}
		     , UDT_DT = NOW()
		 WHERE GOODS_ID = #{goodsId}
		   AND SIZE_ID IN
		<foreach collection="orders" item="order" open="(" separator="," close=")">
			#{order.sizeId}
		</foreach>
	</update>

	<select id="getAdminGoodsImageList" resultType="com.xodud1202.springbackend.domain.admin.goods.GoodsImageVO">
		/* GoodsMapper.getAdminGoodsImageList: 관리자 상품 이미지 목록 조회 */
		SELECT IMG_NO
		     , GOODS_ID
		     , DISP_ORD
		     , IMG_PATH
		  FROM GOODS_IMG
		 WHERE GOODS_ID = #{goodsId}
		 ORDER BY DISP_ORD ASC, IMG_NO ASC
	</select>

	<select id="getAdminGoodsImageByNo" resultType="com.xodud1202.springbackend.domain.admin.goods.GoodsImageVO">
		/* GoodsMapper.getAdminGoodsImageByNo: 관리자 상품 이미지 단건 조회 */
		SELECT IMG_NO
		     , GOODS_ID
		     , DISP_ORD
		     , IMG_PATH
		  FROM GOODS_IMG
		 WHERE IMG_NO = #{imgNo}
	</select>

	<select id="getAdminGoodsImageMaxDispOrd" resultType="int">
		/* GoodsMapper.getAdminGoodsImageMaxDispOrd: 관리자 상품 이미지 정렬순서 최대값 조회 */
		SELECT COALESCE(MAX(DISP_ORD), 0)
		  FROM GOODS_IMG
		 WHERE GOODS_ID = #{goodsId}
	</select>

	<insert id="insertAdminGoodsImage">
		/* GoodsMapper.insertAdminGoodsImage: 관리자 상품 이미지 등록 */
		INSERT INTO GOODS_IMG (
		       GOODS_ID
		     , DISP_ORD
		     , IMG_PATH
		     , REG_NO
		     , UDT_NO
		) VALUES (
		       #{goodsId}
		     , #{dispOrd}
		     , #{imgPath}
		     , #{regNo}
		     , #{udtNo}
		)
	</insert>

	<delete id="deleteAdminGoodsImage">
		/* GoodsMapper.deleteAdminGoodsImage: 관리자 상품 이미지 삭제 */
		DELETE
		  FROM GOODS_IMG
		 WHERE IMG_NO = #{imgNo}
	</delete>

	<update id="updateAdminGoodsImageOrder">
		/* GoodsMapper.updateAdminGoodsImageOrder: 관리자 상품 이미지 순서 저장 */
		UPDATE GOODS_IMG
		   SET DISP_ORD = CASE IMG_NO
		<foreach collection="orders" item="order">
			WHEN #{order.imgNo} THEN #{order.dispOrd}
		</foreach>
			END
		     , UDT_NO = #{udtNo}
		     , UDT_DT = NOW()
		 WHERE GOODS_ID = #{goodsId}
		   AND IMG_NO IN
		<foreach collection="orders" item="order" open="(" separator="," close=")">
			#{order.imgNo}
		</foreach>
	</update>

	<select id="getAdminGoodsDescList" resultType="com.xodud1202.springbackend.domain.admin.goods.GoodsDescVO">
		/* GoodsMapper.getAdminGoodsDescList: 관리자 상품 상세 설명 목록 조회 */
		SELECT GOODS_ID
		     , DEVICE_GB_CD
		     , GOODS_DESC
		  FROM GOODS_DESC
		 WHERE GOODS_ID = #{goodsId}
	</select>

	<select id="countAdminGoodsDesc" resultType="int">
		/* GoodsMapper.countAdminGoodsDesc: 관리자 상품 상세 설명 건수 조회 */
		SELECT COUNT(1)
		  FROM GOODS_DESC
		 WHERE GOODS_ID = #{goodsId}
		   AND DEVICE_GB_CD = #{deviceGbCd}
	</select>

	<insert id="insertAdminGoodsDesc">
		/* GoodsMapper.insertAdminGoodsDesc: 관리자 상품 상세 설명 등록 */
		INSERT INTO GOODS_DESC (
		       GOODS_ID
		     , DEVICE_GB_CD
		     , GOODS_DESC
		     , REG_NO
		     , UDT_NO
		) VALUES (
		       #{goodsId}
		     , #{deviceGbCd}
		     , #{goodsDesc}
		     , #{regNo}
		     , #{udtNo}
		)
	</insert>

	<update id="updateAdminGoodsDesc">
		/* GoodsMapper.updateAdminGoodsDesc: 관리자 상품 상세 설명 수정 */
		UPDATE GOODS_DESC
		   SET GOODS_DESC = #{goodsDesc}
		     , UDT_NO = #{udtNo}
		     , UDT_DT = NOW()
		 WHERE GOODS_ID = #{goodsId}
		   AND DEVICE_GB_CD = #{deviceGbCd}
	</update>

</mapper>
