<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xodud1202.springbackend.mapper.NewsArticleMapper">
	<select id="getActiveNewsRssTargetList" resultType="com.xodud1202.springbackend.domain.news.NewsRssTargetVO">
		/* NewsArticleMapper.getActiveNewsRssTargetList: 활성 언론사/카테고리 RSS URL 목록 조회 */
		SELECT A.PRESS_NO
		     , A.PRESS_NM
		     , B.CATEGORY_CD
		     , B.CATEGORY_NM
		     , B.SOURCE_NM
		     , B.RSS_URL
		  FROM news.NEWS_PRESS A
		  JOIN news.NEWS_CATEGORY B
		    ON A.PRESS_NO = B.PRESS_NO
		 WHERE A.USE_YN = 'Y'
		   AND B.USE_YN = 'Y'
		   AND TRIM(B.RSS_URL) != ''
		 ORDER BY A.SORT_SEQ ASC, B.SORT_SEQ ASC, B.CATEGORY_CD ASC
	</select>

	<update id="resetRankScoreByTarget">
		/* NewsArticleMapper.resetRankScoreByTarget: 대상 언론사/카테고리 기존 랭킹 점수 초기화 */
		UPDATE news.NEWS_ARTICLE
		   SET RANK_SCORE = 999
		     , UDT_DT = NOW()
		 WHERE PRESS_NO = #{pressNo}
		   AND CATEGORY_CD = #{categoryCd}
		   AND RANK_SCORE &lt; 999
	</update>

	<insert id="insertNewsArticle">
		/* NewsArticleMapper.insertNewsArticle: 수집 기사 저장/갱신 */
		INSERT INTO news.NEWS_ARTICLE (
		       PRESS_NO
		     , CATEGORY_CD
		     , ARTICLE_GUID
		     , ARTICLE_GUID_HASH
		     , ARTICLE_URL
		     , ARTICLE_URL_HASH
		     , ARTICLE_TITLE
		     , ARTICLE_SUMMARY
		     , THUMBNAIL_URL
		     , AUTHOR_NM
		     , PUBLISHED_DT
		     , COLLECTED_DT
		     , RANK_SCORE
		     , USE_YN
		     , REG_NO
		     , UDT_NO
		) VALUES (
		       #{pressNo}
		     , #{categoryCd}
		     , #{articleGuid}
		     , NULLIF(#{articleGuidHash}, '')
		     , #{articleUrl}
		     , #{articleUrlHash}
		     , #{articleTitle}
		     , #{articleSummary}
		     , #{thumbnailUrl}
		     , #{authorNm}
		     , #{publishedDt}
		     , NOW()
		     , #{rankScore}
		     , #{useYn}
		     , NULL
		     , NULL
		)
		ON DUPLICATE KEY UPDATE
		       ARTICLE_GUID_HASH = VALUES(ARTICLE_GUID_HASH)
		     , ARTICLE_URL = VALUES(ARTICLE_URL)
		     , ARTICLE_URL_HASH = VALUES(ARTICLE_URL_HASH)
		     , ARTICLE_TITLE = VALUES(ARTICLE_TITLE)
		     , ARTICLE_SUMMARY = VALUES(ARTICLE_SUMMARY)
		     , THUMBNAIL_URL = VALUES(THUMBNAIL_URL)
		     , AUTHOR_NM = VALUES(AUTHOR_NM)
		     , PUBLISHED_DT = COALESCE(VALUES(PUBLISHED_DT), PUBLISHED_DT)
		     , RANK_SCORE = VALUES(RANK_SCORE)
		     , USE_YN = VALUES(USE_YN)
		     , UDT_DT = NOW()
	</insert>
</mapper>
