<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xodud1202.springbackend.mapper.ResumeMapper">

	<resultMap id="experienceWithDetails" type="com.xodud1202.springbackend.domain.resume.ResumeExperienceBase">
		<id property="experienceNo" column="EXPERIENCE_NO"/>
		<result property="companyNm" column="COMPANY_NM"/>
		<result property="employmentType" column="EMPLOYMENT_TYPE"/>
		<result property="position" column="POSITION"/>
		<result property="duty" column="DUTY"/>
		<result property="workStartDt" column="WORK_START_DT"/>
		<result property="workEndDt" column="WORK_END_DT"/>

		<collection property="resumeExperienceDetailList"
		            javaType="java.util.List"
		            ofType="com.xodud1202.springbackend.domain.resume.ResumeExperienceDetail">
			<result property="workTitle" column="WORK_TITLE"/>
			<result property="workDesc" column="WORK_DESC"/>
			<result property="workStartDt" column="WORK_DTL_START_DT"/>
			<result property="workEndDt" column="WORK_DTL_END_DT"/>
		</collection>
	</resultMap>

	<!-- 이력서 경력 리스트 조회 -->
	<select id="getResumeExperienceWithDetails" resultMap="experienceWithDetails">
		/* ResumeMapper.getResumeExperienceWithDetails: 이력서 경력 리스트 조회 */
		SELECT REB.EXPERIENCE_NO
		     , REB.COMPANY_NM
		     , FN_GET_CODE_NM('EMPLOYMENT_TYPE', REB.EMPLOYMENT_TYPE_CD) AS EMPLOYMENT_TYPE
		     , REB.POSITION
		     , REB.DUTY
		     , DATE_FORMAT(REB.WORK_START_DT, '%Y.%m') AS WORK_START_DT
		     , DATE_FORMAT(REB.WORK_END_DT, '%Y.%m') AS WORK_END_DT
		     , RED.WORK_TITLE
		     , RED.WORK_DESC
		     , DATE_FORMAT(RED.WORK_START_DT, '%Y.%m') AS WORK_DTL_START_DT
		     , DATE_FORMAT(RED.WORK_END_DT, '%Y.%m') AS WORK_DTL_END_DT
		  FROM RESUME_EXPERIENCE_BASE REB
		 INNER JOIN RESUME_EXPERIENCE_DETAIL RED
		    ON RED.EXPERIENCE_NO = REB.EXPERIENCE_NO
		 WHERE REB.USR_NO = #{usrNo}
		   AND REB.DEL_YN = 'N'
		   AND RED.DEL_YN = 'N'
		 ORDER BY REB.WORK_START_DT DESC, RED.SORT_SEQ
	</select>

	<!-- 이력서 기타 경력 및 자격 조회 -->
	<select id="getResumeOtherExperienceList" resultType="com.xodud1202.springbackend.domain.resume.ResumeOtherExperience">
		/* ResumeMapper.getResumeOtherExperienceList: 이력서 기타 경력 및 자격 조회 */
		SELECT EXPERIENCE_TITLE
		     , EXPERIENCE_SUB_TITLE
		     , EXPERIENCE_DESC
		     , DATE_FORMAT(ROE.EXPERIENCE_START_DT, '%Y.%m') AS EXPERIENCE_START_DT
		     , DATE_FORMAT(ROE.EXPERIENCE_END_DT, '%Y.%m')   AS EXPERIENCE_END_DT
		  FROM RESUME_OTHER_EXPERIENCE ROE
		 WHERE ROE.DEL_YN = 'N'
		   AND ROE.USR_NO = #{usrNo}
		 ORDER BY SORT_SEQ
	</select>

	<!-- 이력서 학력 리스트 조회 -->
	<select id="getResumeEducationList" resultType="com.xodud1202.springbackend.domain.resume.ResumeEducation">
		/* ResumeMapper.getResumeEducationList: 이력서 학력 리스트 조회 */
		SELECT EDUCATION_NM
		     , DEPARTMENT
		     , EDUCATION_SCORE
		     , FN_GET_CODE_NM('EDUCATION_STAT', EDUCATION_STAT_CD) AS EDUCATION_STAT
		     , DATE_FORMAT(EDUCATION_START_DT, '%Y.%m') AS EDUCATION_START_DT
		     , DATE_FORMAT(EDUCATION_END_DT, '%Y.%m') AS EDUCATION_END_DT
		     , LOGO_PATH
		  FROM RESUME_EDUCATION A
		 WHERE USR_NO = #{usrNo}
		   AND DEL_YN = 'N'
		 ORDER BY EDUCATION_START_DT DESC
	</select>

	<!-- 어드민 이력서 관리 검색 리스트 조회 -->
	<select id="getAdminResumeList" resultType="com.xodud1202.springbackend.domain.admin.resume.ResumeVO">
		SELECT RB.USR_NO
		     , RB.USER_NM AS RESUME_NM
		     , UB.USER_NM
		     , UB.LOGIN_ID
		     , RB.MOBILE
		     , RB.EMAIL
		     , RB.LAST_PAY
		     , RB.SUB_TITLE
		     , RB.MOBILE
		     , RB.EMAIL
		     , RB.PORTFOLIO
		     , RB.FACE_IMG_PATH
		     , RB.SKILLS
		     , RB.ADDR
		     , RB.REG_DT
		     , RB.UDT_DT
		  FROM USER_BASE UB
		     , RESUME_BASE RB
		 WHERE UB.USR_NO = RB.USR_NO
		   AND UB.USR_STAT_CD = '02'
		   AND RB.DEL_YN = 'N'
		<if test="searchValue != null and searchValue != ''">
			<choose>
				<when test="searchGb == 'usrNo'">
		   AND UB.USR_NO = #{usrNo}
				</when>
				<when test="searchGb == 'userNm'">
		   AND UB.USER_NM LIKE #{userNm} || '%'
				</when>
				<when test="searchGb == 'loginId'">
		   AND UB.USER_NM LIKE #{loginId} || '%'
				</when>
			</choose>
		</if>
		 ORDER BY UB.USR_NO DESC
	</select>
</mapper>